*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .5s;
}
body{
    font-family: Arial,Helvetica,sans-serif;
}
/* variable */
:root{
    --primarycolor:white; 
    --primarybackgroundcolor: #0480FC;
    --fontsize__header: 20px;
    --primarycoloricon: black;
    --primarycolotextshadow: 2px 2px 1px rgba(0,0,0,0.7); 
}
/* body.dark{
    background-color: rgb(51, 50, 50);
    --primarybackgroundcolor: black;
    --primarycoloricon: #0480FC;
    --primarycolotextshadow: 2px 2px 1px #0480fcc9; 
} */

/* header */
.header{
    height: 80px;
    text-transform: uppercase;
    background-color: var(--primarybackgroundcolor);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20%;
    text-align: center;
}
.navbar-left img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    animation-name: MoveInDown;
    animation-duration: 2s;
    animation-delay: 2;
}
.navbar-left span{
    font-size: var(--fontsize__header);
    color: var(--primarycolor);
    cursor: pointer;
    margin: 0 6px;
    
}
.navbar-left .text__left{
    animation-name: MoveInLeft ;
    animation-duration: 2s;
    animation-delay: 2;
}
.navbar-left .text__right{
    animation-name: MoveInRight;
    animation-duration: 2s;
    animation-delay: 2;
}

.navbar-center{
    width: 55%;
}
.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    animation-name: MoveInLeft;
    animation-duration: 0.7s ;
    animation-delay: .5s;
    animation-timing-function: linear;
}

.nav-list ul
{
    color: var(--primarycolor);
    cursor: pointer;
}
.nav-list a,
.nav-list li{
    color: var(--primarycolor);
    text-decoration: none;
    list-style: none;
    width: 200px;
    margin-top: 16px;
}
.nav-list ul {
    font-size:var(--fontsize__header);
}

.nav-list li {
    font-size: 16px;
}
.drop-down__Course,
.drop-down__Community,
.drop-down__Teachers {
    position: relative;
    cursor: pointer;
    padding: 30px;
}
.Courses-show,
.Teachers-show{
    display: none;
    position: absolute;
    top: 98%;
    left: -15%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    background-color: var(--primarybackgroundcolor);
    padding-bottom: 10px;
}
.Teachers-show{
    left: -8%;
}
.drop-down__Course:hover .Courses-show,
.drop-down__Teachers:hover .Teachers-show{
    display: block;
}
.drop-down__Home:hover span,
.drop-down__Course:hover span,

.drop-down__Community:hover span,
.drop-down__Teachers:hover span,
.login:hover a,
.register:hover a{
    text-shadow: var(--primarycolotextshadow);
}
.Courses-show li:hover a,
.Teachers-show li:hover a{
    text-decoration: underline;
    color: var(--primarycoloricon);
}
.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 20%;
}
.login a,
.register a {
    text-decoration: none;
    color: var(--primarycolor);
    font-size: var(--fontsize__header);
}
.login,
.register{
    animation-name: Expansion;
    animation-duration: 1.5s;
    animation-delay: .5s;
}
/* ads */
.ads {
    margin: 12px;
}

/* primary web home */

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0, 0, 255, 0.39)), url("/image/bgcontent.jpg") center / cover no-repeat ;
    text-align: center;
    color: black;
    margin-top: 80px;
}

.intro h2{
    font-size: 40px;
    padding: 12px 0;
}
.intro p {
    padding: 12px 24%;
    font-size: 25px;
    color: white;
}
.intro a {
    text-decoration: none;
    padding: 10px 12px;
    color: black;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    box-shadow: 1px 1px 1px  rgba(0,0,0,0.6);
    width: 10%;
}
.intro b{
    color: #0480FC;
    font-size: 30px;
}
.intro a:hover {
    color: var(--primarybackgroundcolor);
    background-color: black;
}
.content {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
span.primary__content{
    font-size: 40px;
}
.content__list--card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 30px;
}
.content__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    width: 33.33%;
}
.content__card img {
    width: 80%;
    height: 250px;
}
.content__card span {
    width: 80%;
    text-align: center;
    padding: 8px 24px;
}
.content__card a {
    text-decoration: none;
    color: black;
    padding: 10px 0;
    width: 120px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    box-shadow: 1px 1px 1px  rgba(0,0,0,0.6);
}
.content__card b{
    font-size: 16px;
}
.content__card a:hover {
    color: var(--primarybackgroundcolor);
    box-shadow: 1px 1px 1px  rgba(0,0,0,0.2);
}
/* blog of student */
.content__list--blog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    padding: 70px 30px;
    background-color: #E4E4E4;
}
.content__blog {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 20%;
    height: 350px;
    background-color: white;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
    margin: 24px 42px;
}
.blog__icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.content__blog .bi{
    color: grey;
    font-size: 20px;
    cursor: pointer;
    margin: 0 12px;
}
.content__blog span,
.content__blog p{
    padding: 0 20px;
}
.primary__blog{
    padding: 20px;
    font-size: 30px;
    position: absolute;
    top: 0;
    text-transform: uppercase;
}
button.btnlike,
button.btndislike{
    border: none;
    background-color: unset;
}
input.inputlike,
input.inputdislike{
    border: none;
    pointer-events: none;
    background-color: unset;
}
input.inputdislike{
    width: 50px;
}
input.inputlike{
    width: 140px;
}
.content__list--blog a{
    position: absolute;
    bottom: 16px;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
}
.content__list--blog a:hover {
    transform: scale(1.1);
}
/* .overplay{
    display: block;
    width: 50px;
    height: 20px;
} */
/* .darkmod{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.darkmod h4{
    font-size: 20px;
}
.darkmod .changetexth4{
    color: var(--primarycolor);
}
.open__darkmod{
    display: block;
    width: 50px;
    height: 20px;
    background-color: var(--primarybackgroundcolor);
    border-radius: 10px;
}
.open__darkmod label {
    display: block;
    width: 18px;
    height: 20px;
    border-radius: 50%;
    background-color: #adadad;
    transition: .5s;
}
.open__darkmod input:checked + label{
    margin-left: 50px;
    transform: translateX(-100%);
} */
/* footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--primarybackgroundcolor);
    color: var(--primarycolor);
    height: 200px;
}
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-align: center;
    height: 80px;
    padding: 10px 0;
    /* border-bottom: 1px solid white; */
  }
  
.footer-content a {
    color: #fff;
    text-decoration: none;
  }
  

.footer-content ul li {
    display: inline-block;
    list-style: none;
    margin: 0 12px;
  }
  
.underline {
    background-color: #fff;
    width: 100%;
    height: 1px;
    position: relative;
}
.underline img{
    height: 60px;
    animation-name: MoveColor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    position: absolute;
    top: -39px;
}
.footer__icon{
    text-align: center;
}
.footer .bi {
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 0 12px;
}

.footer .bi:hover {
    color: var(--primarycoloricon);
}

/* animation */
    @keyframes MoveInLeft {
        0% {
          opacity: 0;
          transform: translatex(-100px); }
        100% {
          opacity: 1;
          transform: translatex(0px); } 
        }
    @keyframes MoveInRight {
        0% {
            opacity: 0;
            transform: translatex(100px); }
          100% {
            opacity: 1;
            transform: translatex(0px); } 
    }
    @keyframes MoveInDown {
        0% {
            opacity: 0;
            transform: translatey(-100px); }
          100% {
            opacity: 1;
            transform: translatey(0px); } 
        
    }   
    @keyframes Expansion {
        0% {
            scale: 1;
        }
        100% {
            scale: 2;
        }
    }
    @keyframes MoveColor {
        from{transform: translateX(0);}
        to {transform: translateX(95VW);}
    }

    @media screen and (max-width: 768px) {
        .navbar-left,
        .navbar-center,
        .nav-right {
          text-align: center;
        }
        .navbar-left{
            width: 20%;
        }
        .navbar-center {
            width: 60%;
        }
        .nav-right{
            width: 10%;
        }
        .navbar-left span {
            font-size: 18px;
        }
        .nav-list {
          justify-content: center;
        }
      
        .nav-list a,
        .nav-list li {
          width: 100%;
          font-size: 18px;
        }
      
        .drop-down__Home,
        .drop-down__Course,
        .drop-down__Community,
        .drop-down__Teachers {
          padding: 14px;
        }

        .Courses-show,
        .Teachers-show {
            width: 158px;
        }
        .Courses-show{
            left: -17%;
        }
        .Teachers-show{
            left: -12%;
        }
        .Courses-show a,
        .Teachers-show a{
            font-size: 14px;
            padding: 0 2px;
        }
    .login a {
        text-decoration: none;
        color: var(--primarycolor);
        font-size: 18px;
    }
    .login{
        animation-name: Expansion;
        animation-duration: 1.5s;
        animation-delay: .5s;
    }
    .ads {
        margin: 12px;
    }
    .intro {
        height: 240px;
        margin-top: 80px;
    }
    .intro h2 {
        font-size: 30px;
    }
    .intro p {
        font-size: 20px;
        padding: 12px 12%;
    }
    .intro a {
        width: 30%;
    }
    .intro b {
        font-size: 20px;
    }

}
      