
.main {
    padding: 30px;
}
.list__card--courses {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.course__card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 27%;
    height: 200px;
    background-color: #adadad;
    border-radius: 10px;
    margin: 20px 0;
}
.name__course{
    width: 60%;
    position: relative;
}
.course__card img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.overplay__course {
    display: none;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    position: absolute;
    top: 50%;
    bottom: 0;
    color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.overplay__course h3{
    font-size: 20px;
}
.overplay__course p{
    font-size: 12px;
}
.overplay__course h3,
.overplay__course p{
    padding: 8px 12px 8px 8px;
}
.info__course{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 36%;
}
.course__techer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
}
.course__techer h3,
.course__techer p{
    font-size: 10px;
    padding: 0 10px;
}

.course__techer img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.course__icon i{
    font-size: 20px;
    color: white;
}
.course__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40%;
}
.name__course:hover .overplay__course{
    display: block;
}
.course__techer:hover img{
    transform: translateY(-20px) scale(1.5);
}