*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* variable */
:root{
    --primarycolor:white; 
    --primarybackgroundcolor: #0480FC;
    --fontsize__header: 20px;
}

/* header */
.header{
    height: 80px;
    text-transform: uppercase;
    background-color: var(--primarybackgroundcolor);
    z-index: 3;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20%;
    text-align: center;
}
.navbar-left img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    animation-name: MoveInDown;
    animation-duration: 2s;
    animation-delay: 2;
}
.navbar-left span{
    font-size: var(--fontsize__header);
    color: var(--primarycolor);
    cursor: pointer;
    margin: 0 6px;

}
.navbar-left .text__left{
    animation-name: MoveInLeft ;
    animation-duration: 2s;
    animation-delay: 2;
}
.navbar-left .text__right{
    animation-name: MoveInRight;
    animation-duration: 2s;
    animation-delay: 2;
}

.navbar-center{
    width: 55%;
}
.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    animation-name: MoveInLeft;
    animation-duration: 0.7s ;
    animation-delay: .5s;
    animation-timing-function: linear;
}

.nav-list ul
{
    color: var(--primarycolor);
    cursor: pointer;
}
.nav-list a,
.nav-list li{
    color: var(--primarycolor);
    text-decoration: none;
    list-style: none;
    width: 200px;
    margin-top: 16px;
}
.nav-list ul {
    font-size:var(--fontsize__header);
}

.nav-list li {
    font-size: 16px;
}
.drop-down__Course,
.drop-down__Events,
.drop-down__Blog,
.drop-down__Teachers {
    position: relative;
    cursor: pointer;
    padding: 30px;
}
.Courses-show,
.Events-show,
.Blog-show,
.Teachers-show{
    display: none;
    position: absolute;
    top: 98%;
    left: -15%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    background-color: var(--primarybackgroundcolor);
    padding-bottom: 10px;
}
.Blog-show{
    left: -35%;
}
.Events-show{
    left: -20%;
}
.drop-down__Course:hover .Courses-show,
.drop-down__Events:hover .Events-show,
.drop-down__Blog:hover .Blog-show,
.drop-down__Teachers:hover .Teachers-show{
    display: block;
}
.drop-down__Home:hover span,
.drop-down__Course:hover span,
.drop-down__Events:hover span,
.drop-down__Blog:hover span,
.drop-down__Teachers:hover span,
.login:hover a,
.register:hover a{
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
}
.Courses-show li:hover a,
.Events-show li:hover a,
.Blog-show li:hover a,
.Teachers-show li:hover a{
    text-decoration: underline;
    color: black;
}
.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 20%;
}
.login a,
.register a {
    text-decoration: none;
    color: var(--primarycolor);
    font-size: var(--fontsize__header);
}
.login,
.register{
    animation-name: Expansion;
    animation-duration: 1.5s;
    animation-delay: .5s;
}

/* main */
.main {
    height: 800px;
}

/* footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 280px;
    background-color: var(--primarybackgroundcolor);
    color: var(--primarycolor);
}
.footer__top {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}
.footer__address {
    width: 20%;
    text-align: center;
    position: relative;
    border: 1px solid var(--primarycolor);
}
.footer__address img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 5%;
}
.footer__address h3{
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px solid var(--primarycolor);
}
.footer__address a {
    text-decoration: none;
    color: var(--primarycolor);
}
.footer__address a:hover{
    color: black;
    text-decoration: underline;
}
.footer__address li{
    list-style-type: none;
    margin-top: 12px;
}
.underline {
    width: 100%;
    height: 1px;
    background-color: var(--primarycolor);
}
.footer__icon{
   text-align: center;
}
.bi {
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 0 12px;
}

.bi:hover {
    color: black;
}
/* animation */
    @keyframes MoveInLeft {
        0% {
          opacity: 0;
          transform: translatex(-100px); }
        100% {
          opacity: 1;
          transform: translatex(0px); } 
        }
    @keyframes MoveInRight {
        0% {
            opacity: 0;
            transform: translatex(100px); }
          100% {
            opacity: 1;
            transform: translatex(0px); } 
    }
    @keyframes MoveInDown {
        0% {
            opacity: 0;
            transform: translatey(-100px); }
          100% {
            opacity: 1;
            transform: translatey(0px); } 
        
    }   
    @keyframes Expansion {
        0% {
            scale: 1;
        }
        100% {
            scale: 2;
        }
    }
    @keyframes rotate-scale-up {
        0% {
        transform: scale(0.5) rotateZ(0);
        }
        100% {
        transform: scale(1.5) rotateZ(360deg);
        }
    }