@keyframes MoveInLeft {
  0% {
    opacity: 0;
    transform: translatex(-100px);
  }
  100% {
    opacity: 1;
    transform: translatex(0px);
  }
}
@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translatex(100px);
  }
  100% {
    opacity: 1;
    transform: translatex(0px);
  }
}
@keyframes MoveInDown {
  0% {
    opacity: 0;
    transform: translatey(-100px);
  }
  100% {
    opacity: 1;
    transform: translatey(0px);
  }
}
@keyframes Expansion {
  0% {
    opacity: 0.1;
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes Distance{
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes RunAway {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}
