@import 'variable';
@import 'header';
@import 'home';
@import 'community';
@import 'login';
@import 'footer';
@import 'animation';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .5s;
}
body{
    font-family: 'Open Sans', sans-serif !important;
}