
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding:100px 0;
}
.main__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.sidebar{
    display: flex;
    flex-direction: row;
    width: 12%;
    height: 500px;
    border-right: 1px solid black;
}
ul{
    margin-bottom: 0!important;
}
.showcreate {
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    width: 70%;
    height: 100px;
    padding: 0 20px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    margin-top: 20px;
}
.showcreate textarea {
    resize: none;
    border: none;
    height: 48px;
    border-radius: 20px;
    outline: none;
    overflow: hidden;
    padding: 12px 16px;
    cursor: pointer;
}
#alertSuccess {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 100px;
    border: 5px solid #04E474;
    border-radius: 10px;
    color: #04E474 ;
    transform: translateX(500%);
}
#alertSuccess i,
#alertComment i,
#alertFail {
    font-size: 40px;
}
.textSuccess span,
.textComment span,
.textFail span {
    font-size: 25px;
    text-transform: uppercase;
}
.textSuccess p,
.textComment p{
    margin: unset;
    color: #9C9C9C;
    font-size: 18px;
}
#alertFail{
    position: absolute;
    top: 0;
    left: 35%;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 100px;
    background-color: white;
    border: 5px solid #DA0404;
    border-radius: 10px;
    color: #DA0404 ;
    transform: translateY(-200%);
    z-index: 6;
}
.textFail {
    padding: 6px;
}
.textFail p {
    font-size: 16px;
}
#overplayCancle {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    z-index: 4;
    cursor: pointer;
}
#alertCancle {
    position: absolute;
    top: 20%;
    left: 40%;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 240px;
    border: 5px solid #FC0404;
    color: #FC0404 ;
    border-radius: 10px;
    text-align: center;
    transform: translatey(-300%);
    z-index: 5;
}
#alertCancle i {
    font-size: 40px;
}
.textCancle span {
    font-size: 25px;
    text-transform: uppercase;
}
.textCancle p {
    margin: unset;
    color: #9C9C9C;
    font-size: 18px;
}
.btnCancle button { 
    border: none;
    width: 80px;
    height: 40px;
    border-radius: 10px;
}
.doCancle {
    background-color: #FC0404;
    color: white;
}
.nonCancle {
    background-color: #04E474;
    color: white;
}
.doCancle:hover {
    background-color: rgba(0,0,0,0.1);
    color: #F80404;
    border: 1px solid #FC0404;
}
.nonCancle:hover {
    background-color: rgba(0,0,0,0.1);
    color: #04E474;
    border: 1px solid #04E474;
}
#alertComment {
    position: absolute;
    top: 45%;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 100px;
    border: 5px solid #FCAC34;
    border-radius: 10px;
    color: #FCAC34 ;
    transform: translatex(150%);
}

#overplay{
    display: none;
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer;
}
#show {
    display: block;
    margin: auto;
    width: 60%;
    height: 520px;
    border-radius: 20px ;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 12%;
    right: 0;
    bottom: 10%;
    transform: translateY(-200%);
}
form > *{
    padding: 0 24px;
}
form h1 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 12px;
    margin: unset;
}
form .col-md-2 {
    width: unset;
    margin-bottom: 12px;
}

.col {
    flex: none;
}
.submitCreate {
    padding: 8px 0 12px 0;
    text-align: center;
}
.btn-back {
    width: 125.21px;
    height: 38px;
    text-align: center;
    background-color: grey;
    color: white;
}
.btn-primary:hover {
    background-color: white;
    border: 1px solid #0d6efd;
    color: #0d6efd;
}
.btn-back:hover {
    background-color: white;
    border: 1px solid red;
    color: red;
}
.btn-primary,
.btn-back{
    transition: .5s;
}
.col-md-2 textarea {
    resize: none;
}

#content__list--blog{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80%;
}
.content__blog {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    background-color: white;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
    margin: 30px;
    height: auto;
}
.linkDownload {
    padding: 12px 20px;
    text-decoration: none;
}
.linkDownload:hover {
    text-decoration: underline;
}
.blog__icon{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 12px 20px;
}
.content__blog .bi{
    color: grey;
    font-size: 20px;
    cursor: pointer;
    margin: 0 12px 0 0;
}
.content__blog span{
    padding: 12px 20px;
}
button.btnlike,
button.btndislike{
    border: none;
    background-color: unset;
}
input.inputlike,
input.inputdislike{
    border: none;
    pointer-events: none;
    background-color: unset;
}
input.inputdislike{
    width: 30px;
}
input.inputlike{
    width: 30px;
}
.content__list--blog a{
    position: absolute;
    bottom: 16px;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
}
.content__list--blog a:hover {
    transform: scale(1.1);
}
#comment {
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    width: 90%;
    padding: 12px 20px;
}
#comment textarea {
    resize: none;
    border-radius: 10px;
    height: 36px;
    padding: 4px 4px 4px 12px;
    outline: none;
}
.btn__comment{
    width: 100%;
    padding: 12px 0;
}
.btn__comment button,
.btn__comment input {
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
}

.comment__section{
    list-style-type: none;
    margin: 8px 0;
    
}
.comment__info p {
    margin: unset;
}

.comment__text {
    display: inline-block;
    font-size: 20px;
    background-color: #BCBCBB;
    padding: 6px 6px;
    border-radius: 10px;
    overflow-wrap: anywhere;
}
.comment__date {
    font-size: 12px;
}