.main-department {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url("/img/bgcontent.jpg") center / cover no-repeat;
}
.department-application {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-bottom: 300px;
}
.department-application > * {
    margin-bottom: 20px;
}
.department-text {
    font-size: 50px;
    font-weight: 700;
    margin: 150px 0 50px 0;
    color: white;
}
.department-application a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}
.department-btn {
    width: 120px;
    height: 40px;
    border: none;
    background-color: $primarycolor;
    color: white;
    border-radius: 12px;
    padding: 6px 20px;
    margin: 50px 0 0 40px;
}
.department-btn:hover {
    transform: scale(1.1);
}
.table-department {
    color: black;
    width: 100%;
    margin-top: 50px;
}
.table-department thead {
    background-color: white ;
}
.table-department th,
.table-department td {
    font-size: 18px;
    font-weight: 600;
    padding: 12px 12px;
}
.table-department tbody {
    background-color: #DCDCDC;
    height: 40px;
}
.department-btn__edit,
.department-btn__remove {
    text-decoration: none;
    color: white;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
}
.department-btn__edit {
    background-color: #FCBB04;
}
.department-btn__edit:hover {
    background-color: white;
    color: #FCBB04;
}
.department-btn__remove {
    background-color: #B40404;
}
.department-btn__remove:hover {
    background-color: white;
    color:#B40404 ;
}
#form-create-department{
    width: 100%;
    margin-bottom: 421px;
}
.department-create,
.department-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
   
}
.department-create__info,
.department-edit__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.department-create__info label,
.department-edit__info label {
    text-align: center;
    width: 20%;
}
.department-create__info input {
    width: 100%;
    height: 44px;
    border-radius: 10px;
}
.department-edit__btn {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 70px 0 0 100px;
}
.department-edit__btn > * {
    margin-right: 12px;
}

.btn-department-create,
.btn-department-edit,
.btn-department-back {
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: $primarycolor;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 2px;
}
a.btn-department-back {
    text-decoration: none;
    padding: 4px 8px;
}
.btn-department-create:hover,
.btn-department-edit:hover,
.btn-department-back:hover {
    color: black;
    transform: scale(1.1);
    background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(255,255,255,0.2));
}
