.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #232223;
  color: $whitecolor;
  height: 200px;
  overflow: hidden;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $whitecolor;
  text-align: center;
  height: 80px;
  padding: 10px 0;
  /* border-bottom: 1px solid white; */
}

.footer-content a {
  color: $whitecolor;
  text-decoration: none;
}

.footer-content ul li {
  display: inline-block;
  list-style: none;
  margin: 0 12px;
}

.underline {
  background-color: $whitecolor;
  width: 100%;
  height: 1px;
}
.underline img {
  height: 60px;
  animation-name: RunAway;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  position: relative;
  top: -39px;
}
.footer__icon {
  text-align: center;
}
.footer .bi {
  font-size: 20px;
  color: $whitecolor;
  cursor: pointer;
  margin: 0 12px;
}

.footer .bi:hover {
  color: $primarycolor;
}
#moveTopBtn {
  opacity: 0;
}
button#moveTopBtn {
  border: none;
  outline: unset;
  width: 40px;
  background-color: unset;
  position: fixed;
  bottom: 2%;
  right: 2%;
}
#moveTopBtn i {
  font-size: 30px;
  color: $primarycolor;
  z-index: 5;
  cursor: pointer;
}
