#toTop {
    position: relative;
    top: -200px;
}
.header{
    height: 80px;
    text-transform: uppercase;
    background-color: $primarybackgroundcolor;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
}
.header__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20%;
    text-align: center;
}
.navbar-left a {
    text-decoration: none;
    color: unset;
}
.navbar-left img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    animation-name: MoveInDown;
    animation-duration: 2s;
    animation-delay: 2;
}
.navbar-left span{
    font-size: $fontsize__header;
    color: $primarycolor;
    cursor: pointer;
    margin: 0 6px;
    
}
.navbar-left span.text__left{
    animation-name: MoveInLeft;
    animation-duration: 2s;
    animation-delay: 2s;
}
.navbar-left span.text__right{
    animation-name: MoveInRight;
    animation-duration: 2s;
    animation-delay: 2s;
}

.navbar-center{
    width: 55%;
}
.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    animation-name: MoveInLeft;
    animation-duration: 0.7s ;
    animation-delay: .5s;
    animation-timing-function: linear;
}
.nav-list ul
{
    color: $primarycolor;
    cursor: pointer;
}
.nav-list a,
.nav-list li{
    color: $primarycolor;
    text-decoration: none;
    list-style: none;
    width: 200px;
    margin-top: 16px;
}
.nav-list ul {
    font-size: $fontsize__header;
}

.nav-list li {
    font-size: 16px;
}
.drop-down__Course,
.drop-down__Community,
.drop-down__Users {
    position: relative;
    cursor: pointer;
    padding: 30px;
}
.Courses-show,
.Users-show{
    display: none;
    position: absolute;
    top: 98%;
    left: -15%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    background-color: $primarybackgroundcolor;
    padding-bottom: 10px;
}
.Users-show{
    left: -71%;
    top: 94%;
}
.drop-down__Course:hover .Courses-show,
.drop-down__Users:hover .Users-show{
    display: block;
}
.drop-down__Home:hover span,
.drop-down__Course:hover span,

.drop-down__Community:hover span,
.drop-down__Users:hover span,
.login:hover a,
.register:hover a{
    text-shadow: $primarycolotextshadow;
}
.Courses-show li:hover a,
.Users-show li:hover a{
    text-decoration: underline;
    color: $primarycoloricon;
}
.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 20%;
}
.login a {
    text-decoration: none;
    color: $primarycolor;
    font-size: $fontsize__header;
}
.login {
    animation-name: Expansion;
    animation-duration: 1.5s;
    animation-delay: .5s;
}
.header-mini {
    display: none;
}

// responsive
@media screen and (min-width: 319px) and (max-width: 768px) {
    .header {
        display: none;
    }
    .header-mini{
        display: block;
    }
    .header-mini .navbar-left {
        width: unset;
    }
    .header-mini .navbar {
        background-color: #0480FC; 
    }
    .navbar-toggler {
        background-color: rgba(0, 150, 255,0.5)!important;
        padding: unset!important;
    }
    .offcanvas-header,
    .offcanvas-body {
        background-color: #0480FC!important;
    }
    .offcanvas-body .nav-list {
        display: flex;
        flex-direction: column;
        // width: 100%;
        justify-content: space-around;
        align-items: flex-start;
    }
    .nav-list > * {
        padding: 10px;
    }
    .show-mini {
        z-index: 200;
        background-color: #0480FC;
    }
    .navbar-toggler-icon {
        background-image: url('/img/tabmenu.webp')!important;
        background-position: center;
        background-size: contain;
        height: 40px!important;
        width: 50px!important;
    }
}