#toTop {
  position: relative;
  top: -200px;
}
.header {
  height: 80px;
  text-transform: uppercase;
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  border-bottom: 2px solid #e10d11;
}
.header__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.navbar-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  text-align: center;
}

.navbar-left a {
  text-decoration: none;
  color: unset;
}
.navbar-left img {
  width: 46px;
  height: 44px;
  margin-bottom: 4px;
  cursor: pointer;
  animation-name: MoveInDown;
  animation-duration: 2s;
  animation-delay: 2;
}
.navbar-left span {
  font-size: $fontsize__header;
  color: $whitecolor;
  cursor: pointer;
  margin: 0 6px;
  font-weight: 700;
}
.navbar-left .text__left {
  animation-name: MoveInLeft;
  animation-duration: 2s;
}
.navbar-left .text__right {
  animation-name: MoveInRight;
  animation-duration: 2s;
}
.navbar-center {
  width: 70%;
}
.navbar-center .welcome span{
  font-size: 30px;
  letter-spacing: 10px;
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  animation-name: MoveInLeft;
  animation-duration: 2s;
}
.nav-list a,
.nav-list li {
  color: $whitecolor;
  text-decoration: none;
  list-style: none;
  width: 200px;
  margin-top: 16px;
}
ul {
  margin-bottom: unset !important;
  padding: unset !important;
}
.nav-list ul {
  color: $whitecolor;
  font-size: $fontsize__header;
  font-weight: 700;
}

.nav-list li {
  font-size: 16px;
  font-weight: 700;
}
.drop-down__Home,
.drop-down__Managements,
.drop-down__Statistics,
.drop-down__Submission,
.drop-down__Users {
  position: relative;
  padding: 30px 0 !important;
}
.drop-down__Managements{
  cursor: pointer;
}
.Managements-show,
.Users-show {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  padding-bottom: 10px;
  border-bottom: 2px solid #e10d11;
  top: 99% !important;
}
.Managements-show {
  left: -25% !important;
}
.Users-show {
  left: 0;
}
.drop-down__Managements:hover .Managements-show {
  display: block;
}
.drop-down__Home span:hover,
.drop-down__Managements:hover span,
.drop-down__Statistics span:hover,
.drop-down__Submission span:hover,
.drop-down__Users span:hover,
.Managements-show li:hover a,
.Users-show li:hover a {
  text-decoration: underline;
  cursor: pointer;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 10%;
  height: 84px;
}
.login a {
  text-decoration: none;
  color: $whitecolor;
  font-size: $fontsize__header;
  font-weight: 700;
}
.login {
  width: 100%;
  animation-name: MoveInRight;
  animation-duration: 1.5s;
  color: white;
  text-align: center;
  height: 100%;
}
.login:hover {
  cursor: pointer;
}
.login .show-logout,
.show-logout__mini {
  position: relative;
  width: 100%;
  height: 100%; 
  padding: 20px 0 !important;
}
ul.sign-in {
  height: 100%;
  padding: 27px !important;
}
ul.login-not-user{
  padding: unset !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.show-logout__mini img ,
.show-logout img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 4px;
  border: 1px solid $primarycolor;
}
.show-user-info,
.show-user-info__mini {
  display: none;
  color: white;
  position: absolute;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px 12px!important;
  border-bottom: 2px solid #e10d11;
  bottom: -172px;
  right: 0;
  text-decoration: none;
  list-style-type: none;
  font-weight: 700;
  height: 170px;
  font-size: 16px;
}

.show-user-info > *,
.show-user-info__mini > * {
  margin-bottom: 8px;
}

a.out-user:hover{
  cursor: pointer;
  text-decoration: underline;
}
// .login:hover .logout {
//   display: block;
// }
.header-mini {
  display: none;
}

// responsive
@media screen and (min-width: 1024px) and (max-width: 1030px) {
  .nav-list ul,
  .nav-list li,
  .navbar-left span,
  .login span,
  .login a,
  .show-user-info {
    font-size: $fontsize__header-mini;
  }

  .nav-list a, .nav-list li{
    width: 170px;
  }
}
@media screen and (min-width: 319px) and (max-width: 900px) {
  .header {
    display: none;
  }
  .header-mini {
    display: block;
    text-transform: uppercase;
  }
  .header-mini .navbar-left {
    width: unset;
  }
  .header-mini #navbar-mini {
    background-color: transparent;
    border-bottom: 1px solid $primarycolor;
  }
  .navbar-toggler {
    padding: unset !important;
    border: none !important;
    height: 100%;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  .offcanvas-header {
    border-bottom: 1px solid $primarycolor;
  }
  .offcanvas-header,
  .offcanvas-body {
    background-color: #161516 !important;
  }
  .offcanvas-body {
    padding: unset !important;
  }
  .offcanvas-body .nav-list {
    display: flex;
    flex-direction: column;
    // width: 100%;
    justify-content: space-around;
    align-items: flex-start;
  }
  .user-info__mini .avatar-user__header{
    width: 30%;
  }
  .user-info__mini .avatar-user__header img{
    width: 80px;
    height: 80px;
    border: 1px solid $primarycolor;
    padding: 4px;
  }
  .avatar-user__header-left {
    width: 70%;
  }
  .avatar-user__header-left > *{
    padding: 2px 0;
  }
  .nav-list > * {
    padding: 10px;
  }
  .navbar-toggler-icon {
    background-image: unset !important;
    text-align: center;
  }
  .navbar-toggler i {
    font-size: 36px;
    color: white;
  }
  .header-mini__login,
  .drop-down__Home,
  .drop-down__Managements,
  .drop-down__Statistics,
  .drop-down__Submission,
  .drop-down__Users {
    position: relative;
    padding: 10px 10px !important;
  }
  .list-user-info {
    padding: 0 10px;
    border-bottom: 1px solid $primarycolor;
  }
  .list-user-info a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
  }
  .user-info__mini {
    width: 100%;
    list-style-type: none;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .out-user__mini {
    color: white;
    text-decoration: none;
    padding: 10px !important;
    font-size: 16px;
    font-weight: 700;
  }
  .out-user__mini:hover {
    text-decoration: underline;
  }
  .user-info__mini > * {
    width: 100%;
    padding: 8px 10px;
  }

  .Managements-show  {
    z-index: 100;
  }
  .header-mini__login:hover .logout-mini {
    display: block;
    text-decoration: underline;
    cursor: pointer;
  }
  .Managements-show{
    left: 75% !important;
    top: 32% !important;
  }
  ul.drop-down__Users {
    width: 220px;
  }
}
@media screen and (min-width: 310px) and (max-width: 320px) {
  .Managements-show{
    left: 72% !important;
    top: 32% !important;
  }
  .nav-list li{
    font-size: 14px;
    width: 150px;
  }
}
