.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 680px;
  background: url("/img/bgcontent.jpg") center / cover no-repeat;
  text-align: center;
  color: black;
  position: relative;
}
.intro h2 {
  font-size: 50px;
  font-weight: 700;
  padding: 12px 0;
  margin: unset !important;
  color: $whitecolor;
  text-transform: uppercase;
}

.intro p {
  padding: 12px 24% 28px 24%;
  font-size: 14px;
  font-weight: 800;
  color: #b8c2c4;
  margin: unset !important;
  text-transform: uppercase;
}

.btn__visit {
  width: 100%;
}

.btn5-hover {
  width: 10%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn5-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn5-hover:focus {
  outline: none;
}

.btn5-hover.btn5 {
  background-image: linear-gradient(
    to right,
    #e41f1f,
    #dc1111,
    #fe0425,
    #f71313
  );
  box-shadow: 0 4px 15px 0 rgba(234, 65, 65, 0.75);
}
.container {
  margin-bottom: 50px;
}
.celebrate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transform: translateY(-76%);
}

.celebrate-75y {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 632px;
  background-color: white;
  box-shadow: 0 2px 17px rgba(65, 48, 45, 30%);
  margin-right: 8px;
  overflow: hidden;
  cursor: pointer;
}
.celebrate-75y:hover img {
  opacity: 1;
  transform: scale(1.1);
}
.celebrate-75y:hover p {
  color: black;
}
.celebrate-75y__img {
  width: 158px;
  height: 150px;
  overflow: hidden;
}
.celebrate-75y__img img {
  width: 158px;
  height: 150px;
  opacity: 0.8;
}

.celebrate-75y__text {
  padding: 0 50px 0 20px;
}

.celebrate-75y__text span {
  color: #b8c2c4;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
}

.celebrate-75y__text p {
  color: #4f5658;
  font-size: 15px;
  font-weight: 800;
  margin: unset;
}

.bythenumbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
}

.bythenumbers h2 {
  font-size: 76px;
  font-weight: 700;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.bythenumbers p {
  font-size: 18px;
  font-weight: 400;
  margin: 12px 0;
  padding: 0 100px;
  width: 80%;
}

.params-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}

.param {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 22%;
}

.param-number {
  font-family: trumpgothicpro, sans-serif;
  font-size: 76px;
  font-weight: 700;
  color: $primarycolor;
  height: 60%;
  text-align: center;
}

.param-text {
  font-size: 16px;
  font-weight: 700;
  padding: 0 10px;
  height: 40%;
}
#carouselExampleControlsNoTouching {
  border-top: 1px solid #b8c2c4;
}
.carousel-control-prev {
  left: -7px !important;
}
.slogan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 300px;
  margin: 4% 10%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.slogan img {
  width: 350px !important;
  height: 200px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  margin-left: 20px;
  // object-fit: cover;
}
.slogan p {
  font-size: 38px;
  font-weight: 500;
  padding: 0 30px;
  color: #4f5658;
}
.slogan-text {
  display: flex;
  flex-direction: column;
}
.slogan-author {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 16px;
  font-weight: 500;
  color: $primarycolor;
  padding-right: 20px;
}
.carousel-control-prev-icon {
  background-image: unset !important;
}
.carousel-control-next-icon {
  background-image: unset !important;
}
.carousel-control-prev-icon i,
.carousel-control-next-icon i {
  font-size: 40px;
  color: $primarycolor;
}
.content-idea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  margin-top: 40px;
}
.idea-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: 100%;
  padding: 55px 12px 55px 30px;
}

.idea-text h2 {
  font-size: 42px;
  margin-bottom: 15px;
}

.idea-text h3 {
  font-size: 38px;
  margin-bottom: 15px;
  font-weight: 700;
}

.idea-text p {
  font-size: 17px;
  margin: 14px 0;
}

.idea-text a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: 1px solid $primarycolor;
  background-color: $primarycolor;
  width: 35%;
  height: 40px;
  padding: 6px 16px;
  margin-top: 14px;
}
.idea-text a:hover {
  text-decoration: underline;
  background-color: #b20003;
}
.idea-img {
  width: 45%;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-right: 10%;
}

.idea-img img {
  width: 124%;
  height: 100%;
}

// Responsive
@media screen and (max-width: 1440px) {
  .btn5-hover.btn5 {
    width: 15%;
  }
  .celebrate-75y__img {
    width: 30%;
  }
  .celebrate-75y__text {
    width: 70%;
  }
  .celebrate-75y__img img {
    width: 100%;
  }
  .idea-text a {
    width: 41%;
  }
}
@media screen and (max-width: 1024px) {
  .intro {
    height: 580px;
  }
  .btn5-hover.btn5 {
    width: 20%;
  }
  .celebrate {
    flex-direction: column;
    transform: translateY(-25%);
  }
  .celebrate-75y {
    height: 135px;
    margin: 8px 0 0 0;
    box-shadow: 0 2px 10px rgba(65, 48, 45, 30%);
  }
  .bythenumbers {
    margin-bottom: 40px;
  }
  .bythenumbers h2 {
    font-size: 72px;
  }
  .params-list {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .param {
    width: 50%;
    justify-content: space-between;
  }
  .param-text {
    margin-top: 12px;
    font-size: 14px;
  }
  .slogan {
    height: 260px;
  }
  .slogan img {
    width: 350px !important;
    height: 150px;
  }
  .slogan-text p {
    font-size: 22px;
    margin-top: 8px;
    padding: 0 16px;
    margin-bottom: unset;
  }
  .content-idea {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .idea-text {
    padding: unset;
    width: 100%;
    height: 50%;
    align-items: center;
  }
  .idea-text p {
    text-align: center;
    padding: 0 15%;
  }
  .idea-text h2,
  .idea-text h3 {
    margin-bottom: unset;
  }
  .idea-img {
    width: 100%;
    margin: unset;
    // overflow: hidden;
    height: 50%;
  }
  .idea-img img {
    width: 100%;
    height: 100%;
  }
  .idea-text a {
    width: 20%;
    text-align: center;
    padding: 8px 0;
  }
}
@media screen and (max-width: 768px) {
  .btn5-hover.btn5 {
    width: 25%;
  }
  .bythenumbers h2 {
    font-size: 60px;
    width: 50%;
  }
  .idea-text a {
    width: 25%;
  }
}
@media screen and (max-width: 600px) {
  .intro h2 {
    padding: 12px 44px;
  }
  .btn5-hover.btn5 {
    width: 30%;
  }
  .celebrate-75y {
    width: 95%;
  }
  .celebrate-75y__text {
    width: 70%;
  }
  .celebrate-75y__img {
    width: 30%;
  }
  .bythenumbers h2 {
    width: 60%;
  }
  .bythenumbers p {
    padding: 0 40px;
  }
  .idea-text a {
    width: 34%;
  }
}
@media screen and (max-width: 414px) {
  .intro {
    height: 660px;
  }
  .intro h2 {
    font-size: 36px;
    padding: 0 20px;
  }
  .intro p {
    padding: 12px 30px 28px 30px;
  }
  .btn5-hover.btn5 {
    width: 50%;
  }
  .celebrate-75y__text {
    padding: 0 20px 0 20px;
    width: 65%;
  }
  .celebrate-75y__text span {
    font-size: 11px;
  }
  .celebrate-75y__text p {
    font-size: 12px;
  }
  .celebrate-75y__img {
    width: 35%;
  }
  .celebrate-75y__img img {
    width: 100%;
  }
  .bythenumbers h2 {
    font-size: 42px;
  }
  .bythenumbers p {
    padding: unset;
  }
  .params-list {
    flex-direction: column;
  }
  .param {
    width: 100%;
  }
  .slogan {
    flex-direction: column;
    height: 370px;
  }
  .slogan img {
    width: 159px !important;
    height: 159px;
    margin: unset;
  }
  .slogan p {
    text-align: center;
    font-size: 16px;
    margin-top: 16px;
  }
  .slogan-author {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: unset;
  }
  .idea-text h2 {
    font-size: 32px;
    margin-bottom: 12px;
  }
  .idea-text h3 {
    font-size: 28px;
  }
  .idea-text p {
    font-size: 15px;
    padding: 0 8%;
  }
  .idea-text a {
    width: 50%;
  }
}
@media screen and (max-width: 320px) {
  .intro h2 {
    font-size: 30px;
    padding: 0 12px;
  }
  .intro p {
    padding: 12px 15px 12px 15px;
  }
  .btn__visit {
    margin-top: 8px;
  }
  .btn5-hover.btn5 {
    width: 60%;
  }
  .bythenumbers h2 {
    font-size: 34px;
    width: 80%;
  }
  .idea-text h2 {
    font-size: 26px;
  }
  .idea-text h3 {
    font-size: 22px;
  }
  .idea-text a {
    font-size: 14px;
  }
}
