
/* variable */
/* body.dark{
    background-color: rgb(51, 50, 50);
    --primarybackgroundcolor: black;
    --primarycoloricon: #0480FC;
    --primarycolotextshadow: 2px 2px 1px #0480fcc9; 
} */

/* header */

/* ads */

/* primary web home */

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0, 0, 255, 0.39)), url("/img/bgcontent.jpg") center / cover no-repeat ;
    text-align: center;
    color: black;
}

.intro h2{
    font-size: 40px;
    padding: 12px 0;
}
.intro p {
    padding: 12px 24% 28px 24%;
    font-size: 25px;
    color: $primarycolor;
}
.intro a {
    text-decoration: none;
    padding: 10px 12px;
    color: black;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    box-shadow: 1px 1px 1px  rgba(0,0,0,0.6);
    width: 10%;
}
.intro b{
    color: #0480FC;
    font-size: 30px;
}
.intro a:hover {
    color: #0480FC;
    background-color: #242424;
}
.aboutus{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.about__name{
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 10px;
    color: #0480FC;
}
.about__text {
    text-align: center;
    padding: 8px 100px 26px 100px;
    font-size: 18px;
}
.about__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.card__about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    flex-wrap: wrap;
    height: 500px;
}
.card__about .card {
    height: 200px!important;
    width: 280px!important;
}
.card-header{
    color: #0480FC!important;
    text-transform: uppercase;
    font-size: 18px;
}
.card__about .card-body {
    padding: 8px 6px 4px 6px!important;
}
.about__carousel {
    width: 45%!important;
    border-radius: 10px;
    overflow: hidden;
}
.about__carousel img {
    width: 600px;
    height: 500px;
}
.content {
    margin-top: 20px;
    width: 100%;
}
span.primary__content{
    text-align: center;
    font-size: 40px;
    padding: 20px 0 12px 0;
    text-transform: uppercase;
    color: #0480FC;
}
span.foreign__content {
    text-align: center;
    padding-bottom: 20px ;
}
.col-sm-6{
    margin: 16px 0;
}
.btn-go{
    text-align: center;
}
.row {
    justify-content: center;
}
.card {
    width: 528px;
    height: 100%!important;
}
.card-img-top {
    height: 319px;
}
.body__content {
    height: 185px;
}
a.btn{
    background-color: #0480FC!important;
    position: relative;
    transition: .5s;
}

a.btn:hover {
    background-color: white!important;
    border: 1px solid #0480FC;
    color: #0480FC;
    opacity: 0.8;
}

/* .overplay{
    display: block;
    width: 50px;
    height: 20px;
} */
/* .darkmod{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.darkmod h4{
    font-size: 20px;
}
.darkmod .changetexth4{
    color: var(--primarycolor);
}
.open__darkmod{
    display: block;
    width: 50px;
    height: 20px;
    background-color: var(--primarybackgroundcolor);
    border-radius: 10px;
}
.open__darkmod label {
    display: block;
    width: 18px;
    height: 20px;
    border-radius: 50%;
    background-color: #adadad;
    transition: .5s;
}
.open__darkmod input:checked + label{
    margin-left: 50px;
    transform: translateX(-100%);
} */
/* footer */

/* animation */
   