.box__login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    height: 900px;
    box-shadow: 10px 10px 10px 10px #888;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #0480FC;
    width: 350px;
    height: 500px;
    color: aliceblue;
    
}

.form input {
    margin: 12px;
    padding: 8px 20px;
    border-radius: 6px;
}

.form a {
    text-decoration: none;
    padding: 6px 12px;
    border: 1px solid black;
    color: aliceblue;
    background-color: rgb(207, 198, 168);
    border-radius: 10px;
    
}
.btn-login {
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
}
.btn-login:hover {
    box-shadow: 2px 2px 5px black;
}
.form a:hover {
    background-color: black;
    color: white;
} 

.register a {
    background-color: #0480FC;
    border: none;
    color: aliceblue;

}