.main-submission,
.main-department,
.main-category,
.main-statistics {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url("/img/bgcontent.jpg") center / cover no-repeat;
}

.submission-application,
.department-application,
.category-application,
.statistics-application {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-bottom: 300px;
  position: relative;
}
.submission-application > *,
.department-application > *,
.category-application > *,
.statistics-application > * {
  margin-bottom: 20px;
}
.submission-text,
.department-text,
.category-text,
.statistics-text {
  font-size: 50px;
  font-weight: 700;
  margin: 150px 0 50px 0;
  color: white;
}
.submission-application a,
.department-application a,
.category-application a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
.submission-btn,
.department-btn,
.category-btn {
  width: 120px;
  height: 40px;
  border: none;
  background-color: $primarycolor;
  color: white;
  border-radius: 12px;
  padding: 6px 20px;
  margin: 50px 0 0 40px;
}
.submission-btn:hover,
.department-btn:hover,
.category-btn:hover {
  transform: scale(1.1);
}
.table-submission,
.table-department,
.table-category,
.table-statistics {
  color: black;
  width: 100%;
  margin-top: 50px;
  text-transform: capitalize;
}
.table-submission thead,
.table-department thead,
.table-category thead,
.table-statistics thead {
  background-color: white;
}
.table-submission th,
.table-submission td,
.table-department th,
.table-department td,
.table-category th,
.table-category td,
.table-statistics th,
.table-statistics td {
  font-size: 18px;
  font-weight: 600;
  padding: 12px 12px;
}
.table-submission tbody,
.table-department tbody,
.table-category tbody,
.table-statistics tbody {
  background-color: #dcdcdc;
  height: 40px;
}
.submission-list__main,
.department-list__main,
.category-list__main,
.statistics-list__main {
  border-top: 1px solid #bcbcbc;
}
.submission-btn__edit,
.submission-btn__remove,
.department-btn__edit,
.department-btn__remove,
.category-btn__edit,
.category-btn__remove {
  text-decoration: none;
  color: white;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  text-transform: capitalize;
}
.submission-btn__edit,
.department-btn__edit,
.category-btn__edit {
  background-color: #fcbb04;
  border: 1px solid #fcbb04;
}
.submission-btn__edit:hover,
.department-btn__edit:hover,
.category-btn__edit:hover {
  background-color: white;
  color: #fcbb04;
}
.submission-btn__remove,
.department-btn__remove,
.category-btn__remove {
  background-color: #b40404;
  border: 1px solid #b40404;
}
.submission-btn__remove:hover,
.department-btn__remove:hover,
.category-btn__remove:hover {
  background-color: white;
  color: #b40404;
}
#form-create-submission,
#form-create-department,
#form-create-category {
  width: 100%;
  margin-bottom: 421px;
}
.submission-create,
.submission-edit,
.department-create,
.department-edit,
.category-create,
.category-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.submission-create__info,
.submission-edit__info,
.department-create__info,
.department-edit__info,
.category-create__info,
.category-edit__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.submission-create__info,
.submission-edit__info {
  margin-bottom: 16px;
}
.submission-create__info label,
.submission-edit__info label,
.department-create__info label,
.department-edit__info label,
.category-create__info label,
.category-edit__info label {
  text-align: center;
  width: 22%;
  margin-left: 2px;
}
.submission-create__info input,
.submission-edit__info input,
.department-create__info input,
.department-edit__info input, 
.category-create__info input,
.category-edit__info input {
  width: 100%;
  height: 44px;
  border-radius: 10px;
  text-transform: capitalize;
  margin-left: 8px;
}
.submission-edit__btn,
.department-edit__btn,
.category-edit__btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 70px 0 0 100px;
}
.submission-edit__btn > *,
.department-edit__btn > *,
.category-edit__btn > * {
  margin-right: 12px;
}

.btn-submission-create,
.btn-submission-edit,
.btn-submission-back,
.btn-department-create,
.btn-department-edit,
.btn-department-back,
.btn-category-create,
.btn-category-edit,
.btn-category-back {
  border: none;
  outline: none;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: $primarycolor;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
a.btn-submission-back,
a.btn-department-back,
a.btn-category-back {
  text-align: center;
  text-decoration: none;
  padding: 5px 20px;
}
.btn-submission-create:hover,
.btn-submission-edit:hover,
.btn-submission-back:hover,
.btn-department-create:hover,
.btn-department-edit:hover,
.btn-department-back:hover,
.btn-category-create:hover,
.btn-category-edit:hover,
.btn-category-back:hover {
  color: black;
  transform: scale(1.1);
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3),
    rgba(255, 255, 255, 0.2)
  );
}
.alert-managements{
  position: absolute;
  top: 45%;
  left: 42%;
  background-color: #FC0404 !important;
  border-radius: 10px;
}
.chart-Statistic {
  position: relative;
}

.chart-Statistic #myChart {
  margin: 30px auto;
  height: 500px !important;
}

// reponsive
@media screen and (max-width: 900px) {
  .submission-create,
  .submission-edit,
  .department-create,
  .department-edit,
  .category-create,
  .category-edit {
    width: 100%;
    align-items: center;
  }
  .submission-create__info,
  .submission-edit__info,
  .department-create__info,
  .department-edit__info,
  .category-create__info,
  .category-edit__info {
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
  }
  .submission-create__info label,
  .submission-edit__info label,
  .department-create__info label,
  .department-edit__info label,
  .category-create__info label,
  .category-edit__info label {
    font-size: 20px;
    width: 100%;
    margin-bottom: 12px;
  }
  .table-submission .actions,
  .table-department .actions,
  .table-category .actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 140px;
  }
  .actions > * {
    text-align: center;
    margin-top: 6px;
    width: 100%;
  }
}
@media screen and (max-width: 414px) {
  .submission-application {
    overflow-x: auto;
  }
  .submission-text {
    font-size: 40px;
  }
}
@media screen and (max-width: 375px) {
  .department-text,
  .category-text {
    font-size: 44px;
  }
  .submission-text {
    font-size: 36px;
  }
}
@media screen and (max-width: 320px) {
  .department-text,
  .category-text {
    font-size: 38px;
  }
  .submission-text {
    font-size: 30px;
  }
}
