.main-staffsubmission {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f6f8fa;
  }
  .background-mainstaffsubmission{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background:linear-gradient(to top, rgba(255,255,255,0.1), rgba(0,0,0,0.3)), url("/img/bgmainstaffsubmission.jpeg") center / cover no-repeat;
    margin-bottom: 50px;
  }
  .staffsubmission-application {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
  }
  .staffsubmission-application > * {
    margin-bottom: 20px;
  }
  .staffsubmission-text {
    font-size: 50px;
    font-weight: 700;
    color: white;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
  .staffsubmission-application a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
  }
  .table-staffsubmission,
  .table-staffsubmission__primary {
    color: black;
    width: 95%;
  }
  .table-wrapper{
    width: 95%;
    position: relative;
  }
  .table-staffsubmission{
    
    width: 100%;
  }
  .department-submission{
    position: absolute;
    top: 0;
    left: 4px;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 8px;
    border-bottom-right-radius: 5px;
    background-color: rgba(248, 4, 4,0.2);
    color: $primarycolor
  }
  .table-staffsubmission:hover{
    box-shadow: 4px 4px 18px rgba(0,0,0,0.6);
  }
  .table-staffsubmission__primary{
    color: white;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    margin-bottom: 50px;
  }
  .table-staffsubmission th,
  .table-staffsubmission td {
    font-size: 20px;
    padding: 18px 20px;
  
  }
//   .staff__show,
//   .idea__show{
//     border: 1px solid rgb(0, 0, 0) ;
//   }
.submission-show_list {
    color: black;
    border-left: 4px solid rgba(0,0,0,0.8);
    background-color: white;
    
}
    .show-submission__list{
        border-left: 4px solid #49BC3D;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        cursor: pointer;
        background-color: white;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        color: black;
    }
    .table-wrapper:nth-child(even) .show-submission__list{
        background-color: #dddddd;
    }
    .show-submission__list:hover{
        box-shadow: 8px 8px 20px rgba(0,0,0,0.8);
    }
    .show-submission__list .name-submission,
    .show-submission__list .time-deadline1,
    .show-submission__list .time-deadline2,
    .show-submission__list .status-deadline,
    .submission-show_list .name-title,
    .submission-show_list .time-deadline1-title,
    .submission-show_list .time-deadline2-title,
    .submission-show_list .status-title{
        width: 15%;
        text-align: center;
        padding: 18px 20px;
        text-transform: capitalize;
    }
    .show-submission__list .name-submission_user,
    .submission-show_list .name-title_user{
        width: 40% !important;
    }
    .action-item,
    .submission-show_list .action-list {
      text-align: center;
      width: 40%;
    }
    .action-item_user,
    .action-list_user{
        width: 15% !important;
    }
.action-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
    .show-submission__list .name-submission{
        padding-top: 28px;
    }
    
  
  .table-staffsubmission tbody {
    background-color: white;
    height: 40px;
  }
  .staffsubmission-btn__view,
  .staffsubmission-btn__download-zip,
  .staffsubmission-btn__download-excel,
  .staffsubmission-btn__view-user {
    text-decoration: none;
    color: white;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    
  }
  .staffsubmission-btn__view-user{
    padding: 16px 34px;
    margin-right: unset;
    letter-spacing: 1.3px;
    font-size: 20px;
  }
  .staffsubmission-btn__view,
  .staffsubmission-btn__view-user {
    background-color: #be1c1c;
    border: 1px solid #be1c1c;
  }
  .staffsubmission-btn__view:hover,
  .staffsubmission-btn__view-user:hover {
    background-color: rgb(255, 255, 255);
    color: #be1c1c;
  }
  .staffsubmission-btn__download-zip {
    background-color: #222668;
    border: 1px solid #222668;
  }
  
  .staffsubmission-btn__download-zip:hover {
    background-color: rgb(255, 255, 255);
    color: #222668;
  }
  
  .staffsubmission-btn__download-excel {
    background-color: #178724;
    border: 1px solid #178724;
  }
  
  .staffsubmission-btn__download-excel:hover {
    background-color: rgb(255, 255, 255);
    color: #178724;
  }
  #form-create-staffsubmission{
    width: 100%;
    margin-bottom: 421px;
  }
  .main-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(to top,rgba(255,255,255,0.2), rgba(0,0,0,0.5)), url("/img/bgmaindetail.jpeg") center / cover no-repeat;
    min-height: 1080px;
  }
  .detail-application {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .comment_btn label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.comment_btn {
    position: relative;
  }
  .comment-textarea{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }
  .comment_btn textarea {
    width: 100%;
    height: 44px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    resize: none;
    color: #000000;
    background-color: #f0f2f5;
    border: none;
    outline: none;
    padding: 10px 60px 10px 20px;
  }
  .comment_btn textarea:focus,
  .comment_btn textarea:valid{
    height: 80px;
  }
  .comment_btn .sub_btn {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-20%);
    font-size: 26px;
    outline: none;
    border: none;
    background-color: transparent;
    opacity: 0;
    cursor: default;
    transition: .3s;
  }
  
  .comment_btn textarea:focus + .sub_btn {
      opacity: 1;
      cursor: pointer;
    }
    .comment_btn .sub_btn:hover{
      color: $primarycolor;
      cursor: pointer;
    }
    .comment_btn textarea:valid ~ .sub_btn {
        opacity: 1;
        cursor: pointer;
  }
  .comment_btn textarea:hover{
    cursor: pointer;
  }
.remove-detail{
    height: 45px;
    margin-bottom: 50px;
}
.back-detail{
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: $primarycolor;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 2px;
}
a.back-detail{
    text-decoration: none;
    padding: 5px 24px;
}
.back-detail:hover{
    color: black;
    transform: scale(1.1);
    background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(255,255,255,0.2));
}

#comment-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    color: #fff;
}
.comment-value {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.comment-value p{
  display: inline-block;
  background-color: #8e3e3e;
  padding: 4px 10px;
  border-radius: 10px;
  margin: 12px 0 0 0 ;
}
.detail-show {
    margin-top: 140px;
    background-color: #fff;
    // background: url("/img/bgdetailshow.jpeg") center / cover no-repeat;
    color: #000000;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 90%;
}

.detail-show-all{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.detail-show-primary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 30px;
}
.detail-show-primary .fullname-detail{
    letter-spacing: 1.5px;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}
.left-detail-primary{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.left-detail-primary #days-remaining{
    font-size: 14px;
    font-weight: 500;
    color: #6a6565;
    letter-spacing: 1.5px;
}
.left-detail-primary .view-detail{
    font-size: 16px;
    color: #b9c2c4;
    align-self: end;
    font-weight: 400;
}
.view-detail i{
    font-size: 14px;
}
.detail-show-primary > *{
    font-weight: 500;
}
.secondary-detail{
    display: flex;
    flex-direction: row;
}
.secondary-detail > * {
    font-weight: 500;
}
.secondary-detail .center-secondary-detail{
    font-size: 12px;
    color: #b9c2c4;
    padding: 2px 0;
}
.secondary-detail .time-post-detail{
    font-size: 12px;
    color: #b9c2c4;
    letter-spacing: 1.5px;
    padding: 2px 6px;
}
.secondary-detail .role-detail,
.submission-detail,
.category-detail{
    font-size: 12px;
    color: $primarycolor;
    background-color: rgba(225, 13, 17,0.2);
    letter-spacing: 1.5px;
    padding: 2px 6px;
    border-radius: 4px;
    margin-right: 6px;
}
.submission-detail{
    display: inline-block;
    color: rgb(28, 172, 244);
    background-color: rgba(28, 172, 244,0.2);
}
.category-detail-info{
    margin-bottom: 20px;
}
.category-detail{
    display: inline-block;
    color: rgb(188, 4, 252);
    background-color: rgba(188, 4, 252,0.2);
    flex: 0 1 auto;

}
.body-detail{
    padding: 12px 0;
    border-top: 1px solid #cecece;
}
.body-detail > * {
    padding: 12px 20px 12px 0;
}
.body-detail .title-detail{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1.2px;
}
.body-detail .content-detail{
    padding: 12px 20px ;
}
.body-detail .container__file-detail{
    padding: 0 20px 12px 20px  !important;
}
.body-detail .file-detail{
    font-weight: 600;
}
.body-detail .container__file-detail span{
    color: black;
    text-decoration: none;
}
.detail-show div td {
    padding-left: 10px;
}
.detail-show .time-deadline1,
.detail-show .time-deadline2{
    display: none;
}
// .show-comment{
//     border: 1px solid #ccc;
//     background-color: none;
//     padding: 10px;
//     margin-bottom: 10px;
//     color: #ffffff;
// }
// .show-comment{
//     font-weight: bold;
// }
// .show-comment{
//     margin-top: 5px;
// }
  .show-comment {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .comment-content{
    white-space: pre-wrap;
    text-transform: capitalize;
  }
//     .main__info-comment{
//     display: flex;
//     flex-direction: row;
//   }
  .comment-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .comment-container li {
    display: inline-block;
    list-style-type: none;
    border: none;
    background-color: #f0f2f5;
    padding: 4px 10px 0 10px;
    margin-bottom: 10px;
    color: #000;
    border-radius: 10px;
    min-height: 40px;
    max-width: 80%;
    word-wrap: break-word;
    word-break: break-all;
  }
    button.delete-comment{
    display: block;
    outline: none;
    border: none;
    background-color: transparent;
    color: red;
    font-size: 20px;
    transition: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 2px;
  }
  button.delete-comment i{
    display: none;
  }
  button.delete-comment:hover{
    background-color: #f0f2f5;
  }
  .comment-container li:hover +  button.delete-comment i{
    display: block;
  }
  button.delete-comment:hover i{
    display: block;
  }
  .time-detail{
    // margin-left: 344px;
    // float: right;
    font-size: 10px;
    color: #5d5d5d;
    font-weight: 600;
  }

  .author-cmt{
    text-transform: capitalize;
    letter-spacing: 1.3px;
  }
.main-create-idea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url("/img/bgcontent.jpg") center / cover no-repeat;
}
// .create-idea-application {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     width: 80%;
//     margin-bottom: 300px;
// }
// .create-idea-application > * {
//     margin-bottom: 20px;
// }
.create-idea-text {
    font-size: 50px;
    font-weight: 700;
    margin: 150px 0 50px 0;
    color: white;
}
// .create-idea-application a {
//     text-decoration: none;
//     font-size: 18px;
//     font-weight: 700;
// }
.create-idea-btn {
    width: 120px;
    height: 40px;
    border: none;
    background-color: $primarycolor;
    color: white;
    border-radius: 12px;
    padding: 6px 20px;
    margin: 50px 0 0 40px;
}
.create-idea-btn:hover {
    transform: scale(1.1);
}
.table-create-idea {
    color: black;
    width: 100%;
    margin-top: 50px;
}
.table-create-idea thead {
    background-color: #DCDCDC ;
}
.table-create-idea th,
.table-create-idea td {
    font-size: 18px;
    font-weight: 600;
    padding: 12px 12px;
    
}
.table-create-idea tbody {
    background-color: white;
    height: 40px;
}
// .create-idea-btn__edit{
//     text-decoration: none;
//     color: white;
//     padding: 6px 12px;
//     font-size: 16px;
//     font-weight: 500;
//     border-radius: 4px;
// }
// .create-idea-btn__edit {
//     background-color: #FCBB04;
// }
// .create-idea-btn__edit:hover {
//     background-color: white;
//     color: #FCBB04;
// }
// .create-idea-btn__remove {
//     background-color: #B40404;
// }
// .create-idea-btn__remove:hover {
//     background-color: white;
//     color:#B40404 ;
// }
#form-create-idea{
    width: 100%;
    margin-bottom: 421px;
}
.create-idea-create,
.create-idea-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
   
}
.create-idea__info,
.create-idea-edit__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 10px;
    padding: 5px;
}
.create-idea__info label,
.create-idea__info label {
    text-align: center;
    width: 20%;
}
.create-idea .textarea-content{
    height: 80px;
}
.create-idea__info input,
.create-idea__info select,
.create-idea__info textarea {
    width: 100%;
    height: 37px;
    border-radius: 10px;
    padding: 6px 12px;
    resize: none;
}
.create-idea__info textarea{
    transition: .3s;
}
.create-idea__info textarea:valid,
.create-idea__info textarea:focus{
    height: 80px;
}
.create-idea__info textarea:hover{
    cursor: pointer;
}

.create-idea-edit__btn {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 50px 0 0 100px;
}
.create-idea-edit__btn > * {
    margin-right: 12px;
}


.checkbox_idea{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 234px;
}
input#check {
    margin-right: 4px;
}
.check_info{
    margin-left: 234px;
}

.btn-create-idea-create,
.btn-create-idea-back {
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: $primarycolor;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 2px;
}
a.btn-create-idea-back {
    text-decoration: none;
    padding: 5px 24px;
}
.btn-create-idea-create:hover,
.btn-create-idea-back:hover {
    color: black;
    transform: scale(1.1);
    background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(255,255,255,0.2));
}


.main-idea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url("/img/bgcontent.jpg") center / cover no-repeat;
}
.idea-application {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-bottom: 50px;
    margin-top: -20px;
}
.idea-text {
    font-size: 50px;
    font-weight: 700;
    margin-top: 150px;
    color: rgb(248, 248, 248);
}
.idea-application a {
    text-decoration: none;
    font-size: 19px;
}
.idea_btn {
    width: 120px;
    height: 40px;
    border: none;
    background-color: $primarycolor;
    color: white;
    border-radius: 12px;
    padding: 6px 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.idea_btn:hover {
    transform: scale(1.1);
}
.idea_back_btn {
    width: 120px;
    height: 40px;
    border: none;
    background-color: $primarycolor;
    color: white;
    border-radius: 12px;
    padding: 6px 36px;
    // margin-top: 50px;
    // margin-bottom: 20px;
    margin-left: 152px;
    margin-top: 97px;
    margin-bottom: -91px;
}
.idea_back_btn:hover {
    transform: scale(1.1);
}
.show-idea__list,
.idea-show-list{
    border: 1px solid #bcbcbc;
}
// .table-deadline{
//     display: inline-block;
//     margin-left: 710px;
// }

.table-deadline,
.table-idea {
    color: black;
    margin-bottom: 20px;
}
.table-deadline thead,
.table-idea thead {
    background-color: #DCDCDC ;
    text-align:left;
}
.table-deadline th,
.table-deadline td,
.table-idea th,
.table-idea td {
    font-size: 18px;
    padding: 12px 12px;
}
.table-deadline tbody,
.table-idea tbody {
    background-color: white;
    height: 40px;
    position: relative;
}

.detail-link,
.like_btn,
.dislike_btn {
    border: none;
    text-decoration: none;
    color: white;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    width: 73px;
}
// .like_btn,
// .dislike_btn{
//     position: absolute;
// }
button.dislike_btn {
    right: 51px;
    z-index: 10px;
    position: absolute;
}
button.like_btn {
    right: 133px;
    z-index: 10px;
    position: absolute;
}
.detail-link{
    margin-top: 8px;
}
.idea-action__item{
    width: 300px;
    padding: 14px 12px;
}
.view_count {
    pointer-events: none;
    border: none;
    padding: 0px;
    background-color: transparent;
    width: 30px;
}
.like_count {
    pointer-events: none;
    border: none;
    padding: 0px;
    background-color: transparent;
    width: 10px;
}
.dislike_count {
    pointer-events: none;
    border: none;
    padding: 0px;
    background-color: transparent;
    width: 30px;
}

.detail-link {
    background-color: #FCBB04;
}
.detail-link:hover {
    background-color: white;
    color: #FCBB04;
}
.like_btn {
    background-color: #04b41b;
}
.like_btn:hover {
    background-color: white;
    color:#0ab404 ;
}
.dislike_btn {
    background-color: #B40404;
}
.dislike_btn:hover {
    background-color: white;
    color:#B40404 ;
}
#form-create-idea{
    width: 100%;
    margin-bottom: 421px;
}
.like_btn,
.dislike_btn{
    border: none;
}  
.brief_idea{
    width:25%;
}
.status-deadline{
    color: #49BC3D;
    background-color: rgba(73, 188, 61,0.2);
}
.warning{
    color:#E9B609;
    background-color: rgba(252, 252, 4,0.2);
}
.danger {
    color: #F80404;
    background-color: rgba(248, 4, 4,0.2);
}
.none{
    display: none;
}
.check-annoymous{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
    color: #b8c2c4;
    margin-top: 12px;
    margin-bottom: 16px;
}
input#annoymous{
    margin-right: 4px;
    cursor: pointer;
}
.check-annoymous label{
    color: black;
    font-weight: 600;
    cursor: pointer;
}
.table-deadline td,
.table-idea th,
.table-idea td {
font-size: 18px;
    padding: 12px 12px;
}
.idea-list__show {
    border-bottom: 1px solid #bcbcbc;
}
.table-deadline tbody,
.table-idea tbody {
    background-color: white;
    height: 40px;
    position: relative;
}

.detail-link,
.like_btn,
.dislike_btn {
    border: none;
    text-decoration: none;
    color: white;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    width: 73px;
}
// .like_btn,
// .dislike_btn{
//     position: absolute;
// }
button.dislike_btn {
    right: 51px;
    z-index: 10px;
    position: absolute;
}
button.like_btn {
    right: 133px;
    z-index: 10px;
    position: absolute;
}
.detail-link{
    margin-top: 8px;
}
.idea-action__item{
    width: 300px;
    padding: 14px 12px;
}
.view_count {
    pointer-events: none;
    border: none;
    padding: 0px;
    background-color: transparent;
    width: 30px;
}
.like_count {
    pointer-events: none;
    border: none;
    padding: 0px;
    background-color: transparent;
    width: 10px;
}
.dislike_count {
    pointer-events: none;
    border: none;
    padding: 0px;
    background-color: transparent;
    width: 30px;
}

.detail-link {
    background-color: #FCBB04;
    border: 1px solid #FCBB04;
}
.detail-link:hover {
    background-color: white;
    color: #FCBB04;
}
.like_btn {
    background-color: #04b41b;
    border: 1px solid #04b41b;
}
.like_btn:hover {
    background-color: white;
    color:#0ab404 ;
}
.dislike_btn {
    background-color: #B40404;
    border: 1px solid #B40404;
}
.dislike_btn:hover {
    background-color: white;
    color:#B40404 ;
}
#form-create-idea{
    width: 100%;
    margin-bottom: 421px;
} 
.brief_idea{
    width:25%;
}
span.overtime__days-remaining{
    color: rgb(156, 4, 4);
    background-color: rgba(156, 4, 4,0.2);
    padding: 2px 6px;
    border-radius: 5px;
}
 .comment{
    top: 19.4% !important;
    width: 430px;
    left: 50% !important;
    right: 50%; 
    transform: translateX(-50%);
}
@media  screen and (max-width: 1024px) {
    .main-staffsubmission,
    .main-detail{
        height: 1366px;
    }
    .main-idea {
        height: 100vh;
    }
    
    button.dislike_btn {
        right: 42px;
        position: absolute;
    }
    button.like_btn {
        right: 125px;
        position: absolute;
    }
    .idea-text{
        margin-left: 100px;
    }
    .checkbox_idea {
        margin-left: 150px;
    }
       .check_info{
        margin-left: 150px;
    }
    .detail-link {
        margin-left: 8px;
    }
    .sub_btn {
        margin-left: 355px;
    }
    .submission-show_list .time-deadline1-title i,
    .submission-show_list .time-deadline2-title i,
    .submission-show_list .status-title i,
    .submission-show_list .action-list i{
        display: none;
    }
}
@media  screen and (max-width: 900px) {
    .main-staffsubmission,
    .main-detail{
        height: unset;
    }
    .main-idea {
        height: 100%;
    }
    .staffsubmission-application {
        display: flex;
        width: 100%;
    }
    .table-staffsubmission td {
        font-size: 20px; 
        padding: 11px 9px;
    }
    .action-item {
        flex-wrap: wrap;
    }
    .action-item > * {
        padding: 4px 0;
        width: 44%;
    }
    .action-item_user > * {
        width: 80%;
    }
    .staffsubmission-btn__download-excel{
        width: 50%;
    }
    button.like_btn{
        right: 54px;
        margin-top: -50px;
        position: absolute;
    }
    button.dislike_btn{
        right: 54px;
        margin-top: -8px;
        position: absolute;
    }
    .idea-text{
        margin: 150px 0 40px 0;
    }
    .checkbox_idea{
        margin-left: 120px;
    }
    .check_info{
        margin-left: 120px;
    }
    .detail-link{
        margin-top: 76px;
        margin-left: 161px;
    }
    .sub_btn {
        margin-left: 250px;
    }
    .submission-show_list-user > *{
        font-size: 16px !important;
        font-weight: 600;
    }
}

@media screen and (max-width: 721px) {
    button.dislike_btn {
        right: 45px;
        position: absolute;
    }
    button.like_btn {
        right: 45px;
        position: absolute;
    }
}
@media screen and (max-width: 702px) {
    button.dislike_btn {
        right: 30px;
        position: absolute;
    }
    button.like_btn {
        right: 30px;
        position: absolute;
    }
}
@media screen and (min-width: 1920px) {
   .main-idea {
    height: 100vh;
   }
   .main-staffsubmission {
    height: 100vh;
   }
   .checkbox_idea {
    margin-left: 290px;
   }
   .check_info{
    margin-left: 290px;
}
}

@media screen and (max-width: 668px) {
    
    .main-idea {
    height: 100%;
}
    button.like_btn{
    margin-top: -38px;
    right: 12px;
    position: absolute;
}
button.dislike_btn {
    margin-top: 0px;
    right: 12px;
    position: absolute;
}
.detail-link {
    margin-top: 85px;
    margin-left: 133px;
}
// .table-idea td{
//     padding: 50px 10px 10px 10px;
// }
.staffsubmission-application {
    width: 100%;
}
.checkbox_idea{
    margin-left: 100px;
}

.table-deadline {
    width: 80%;
}
.table-idea{
    width: 100%;
}
.sub_btn {
    margin-left: 185px;
}
.submission-show_list .time-deadline1-title ,
    .submission-show_list .time-deadline2-title ,
    .submission-show_list .status-title ,
    .submission-show_list .action-list {
        font-size: 16px;
        overflow-wrap: break-word;
        padding: 28px 4px;
    }
.show-submission__list .name-submission, .show-submission__list .time-deadline1, .show-submission__list .time-deadline2, .show-submission__list .status-deadline, .submission-show_list .name-title, .submission-show_list .time-deadline1-title, .submission-show_list .time-deadline2-title, .submission-show_list .status-title{
    padding: 28px 4px;
}
}
@media screen and (max-width: 415px) {
    .staffsubmission-application {
        width: 100%;
    }
    .idea-application{
        width: 95%;
        overflow-x:auto;
    }
    button.like_btn,
    button.dislike_btn{
        right: 12px;
        position: absolute;
    }
    button.detail-link{
        // margin-left: 106px;
        margin-left: 90px;
    }
    
    .staffsubmission-text {
        font-size: 40px;
    }
    .create-idea__info {
        margin-left: 35px;
        width: 80%;
    }
    .create-idea__info label {
        margin-left: -15px;
        width: 37px;
    }
    .create-idea__info input {
        margin-left: 65px;
    }
    .create-idea__info select {
        margin-left: 47px;
    }
    .form-control[type=file] {
        width: 80%;
    }
    .form-control[type=content]  {
        width: 90%;
        margin-left: -25px;
    }
    input#brief {
        margin-left: 65px;
    }
    input#content {
        margin-left: 60px;
    }
    input#title {
        margin-left: 68px;
    }
    select#category {
        margin-left: 60px;
    }
    .checkbox_idea {
        margin-left: 120px;
    }
    .check_info{
        margin-left: 120px;
    }
    .detail-show {
        width: 90%;
    }
    .comment_btn {
        margin-right: 20px;
    }
    .sub_btn {
        margin-left: 102px;
    }
    .comment-container {
        margin-left: 40px;
    }
    .detail-show-primary {
        flex-direction: column;
        height: 42px;
    }
    .detail-show-primary .fullname-detail{
        font-size: 16px;
        letter-spacing: 1.2px;
    }
    .left-detail-primary {
        flex-direction: row;
        justify-content: space-between;
    }
    .left-detail-primary #days-remaining{
        font-size: 10px;
        letter-spacing: 1.2px;
    }
    .left-detail-primary .view-detail {
        font-size: 12px;
    }
    .left-detail-primary .view-detail i {
        font-size: 12px;
    }
    .secondary-detail{
        flex-direction: column-reverse;
    }
    .secondary-detail .center-secondary-detail{
        display: none;
    }
    .secondary-detail .role-detail,
    .secondary-detail .time-post-detail,
    .submission-detail-info .submission-detail,
    .category-detail-info .category-detail{
        font-size: 10px;
    }
    .secondary-detail .time-post-detail{
        padding: unset;
    }
    .role-detail-info .role-detail{
        display: inline-block;
    }
    .body-detail .title-detail{
        padding-right: 0;
    }
    .body-detail .content-detail{
        padding-right: 0;
        padding-left: 0;
        text-align: center;
    }
    .show-submission__list .name-submission, .show-submission__list .time-deadline1, .show-submission__list .time-deadline2, .show-submission__list .status-deadline, .submission-show_list .name-title, .submission-show_list .time-deadline1-title, .submission-show_list .time-deadline2-title, .submission-show_list .status-title{
        font-size: 14px ;
        padding: 22px 2px;
        overflow-wrap: break-word;
    }
    .department-submission{
        font-size: 10px;
    }
    // .show-submission__list .name-submission,
    // .show-submission__list .time-deadline1,
    // .show-submission__list .time-deadline2{
    //     padding: 26px 2px;
        
    // }
    .action-item > * {
        font-size: 14px !important;
        width: 70%;
    }
    .submission-show_list-user > *{
        font-size: 14px !important;
        font-weight: 500;
    }
    .name-submission_user,
    .name-title_user{
        width: 30% !important;
    }
    .action-title_user,
    .action-item_user{
        width: 25% impr !important;
    }
}
@media screen and (max-width: 376px) {
    .create-idea-edit__btn  {
        margin-left: 30px;
        margin-top: 30px;
    }
    .table-staffsubmission th{
        font-size: 15px;
    }
    .table-staffsubmission td{
        font-size: 14px;
    }
    button.detail-link{
        margin-left: 35px;
        // margin-left: 52px;
    }
    .sub_btn {
        margin-left: 90px;
    }
    .main-idea{
        overflow-x: auto;
    }
    .table-deadline th, .table-deadline td, .table-idea th, .table-idea td{
        font-size: 14px;
    }
    .table-deadline td, .table-idea th, .table-idea td {
        font-size: 15px;
    }
    .staffsubmission-text{
        font-size: 34px;
    }
}
@media screen and (max-width: 321px) {
    .create-idea-text {
        margin-top: 79px;
        font-size: 30px;
        width: 348px;
        margin-left: 214px;
    }
    .create-idea-text h1 {
        margin-left: 50px;
    }
    .idea-text{
        font-size: 33px;
    }
    .table-idea th{
        font-size: 15px;
    }
    .table-idea td {
        font-size: 14px;
    }
    button.like_btn{
        // top: 65px;
        right: 14px;
        margin-top: -55px;
    }
    button.dislike_btn{
        // top: 52px;
        right: 14px;
        margin-top: -10px;

    }
    button.detail-link{
        margin-left: 25px;
    }
    .staffsubmission-text{
        font-size: 34px;
    }
    .table-staffsubmission th{
        font-size: 15px;
    }
    .table-staffsubmission td{
        font-size: 14px;
    }
    .sub_btn {
        margin-left: 65px;
    }
    .comment-container{
        margin-left: 27px;
    }
    .check_info label{
        font-size: 14px;
    }
    .body-detail .content-detail{
        text-align: center;
        padding: 12px 0;
    }
    .body-detail .container__file-detail {
        padding: 0 0 12px 0 !important;
        font-size: 14px;
    }
    .body-detail .title-detail{
        font-size: 24px;
        padding-right: 0;
    }
    .author-cmt{
        font-size: 14px;
        letter-spacing: 1.1px;
    }
    .staffsubmission-text{
        font-size: 30px;
    }
}