.add__user,
.edit__user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("/img/bglogin.jpg") center / cover no-repeat;
}
.edit__user  {
  height: 100vh;
}
.create__card,
.edit__card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  width: 350px;
  
  background-color: transparent;
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.8),
    rgba(255, 255, 255, 0.2)
  );
  border: 4px solid $primarycolor;
  border-radius: 36px;
  z-index: 0;
  margin-top: 100px;
  text-align: center;
}
.full__type {
  display: flex;
  justify-content: center;
  align-items: self-end;
  width: 100%;
}
.edit__card h3,
.create__card h3 {
  margin-bottom: unset !important;
  text-align: center;
  width: 100%;
  padding: 8px 0;
}
.type__name input:invalid {
	border-color: red;
}
input,
input:valid {
	border-color: #ccc;
}
.edit__card label,
.create__card label {
  align-items: center;
  width: 35%;
  justify-content: revert;
  margin-top: 10%;
  display: flex;
}
.edit__card input,
.create__card input {
  border-radius: 10px;
  border: 4px solid #e10d11;
  width: 60%;
  padding: 4px;
}
.button__user {
  display: flex;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  width: 20%;
  height: 65%;
  justify-content: center;
  font-size: 20px;
  padding: 8px 0;
}
.type__select {
  width: 60%;
  border-radius: 10px;
  border: 4px solid #e10d11;
  height: 35px;
}

.user__checkbox {
  
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-size: x-large;
}
.edit__checkbox{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 24px 0 12px 0;
  width: 100%;
  text-align: center;
}
.edit__checkbox input {
  width: 10%;
  margin-top: 8px;
}
.edit__checkbox label {
  margin: unset;
  width: 90%;
}
.edit__checkbox label,
.user__checkbox label {
  font-size: large;
  width: 300px;
}
.user__checkbox input {
  width: 10%;
}

.boxer-user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  width: 100%;
}
.card-user {
  display: flex; 
  flex-direction: column; 
  justify-content: space-around; 
  align-items: flex-start;
  flex-wrap: wrap;
  height: 350px;
  width: 28%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: transparent;
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.8),
    rgba(255, 255, 255, 0.2)
  );
  border: 4px solid $primarycolor;
  border-radius: 16px;
  margin: 20px 50px;
  color: white;
}
.card-user__info,
.btn-user__action {
  margin: unset !important;
  font-size: 20px;
  font-size: 700;
  width: 100%;
}
.card-user__info {
  padding: 0 10px 0 20px;
}
.btn-user__action {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;

}
.btn__edit-user{
  width: 13%;
}
.listpage {
  margin-bottom: 20px !important;
}
.listpage li {
  display: inline-block;
  width: 30px;
  height: 20px;
  background-color: $primarycolor;
  color: white;
  border: 2px solid $primarycolor;
  text-align: center;
  margin: 0 8px;
  padding: 4px 0;
  cursor: pointer;
  box-sizing: unset;
}
.listpage li:hover {
  background-color: #930204;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.listpage .active {
  border: 2px solid black;
  transform: scale(1.2);
  cursor: not-allowed;
  color: black;
  font-weight: 600;
}
#form-edit-user {
  width: 100%;
  margin-bottom: 421px;
  display: flex;
  justify-content: center;
}
.edit__user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("/img/bglogin.jpg") center / cover no-repeat;
  color: #212529;
}
.form__edit {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: 600px;
  background-color: red;
  border: 4px black;
  border-radius: 36px;
  z-index: 0;
  margin-top: 100px;
  color: #212529;
}
.form__edit h3 {
  font-size: 50px;
  margin-bottom: 20%;
  height: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.form__edit input {
  background-color: #f6f7f9;
  color: rgb(13, 14, 14);
  border-radius: 10px;
  font-size: larger;
  width: 200px;
}
.form__edit label {
  color: #212529;
  width: 100px;
  font-size: larger;
}
.edit__select {
  background-color: #f6f7f9;
  color: rgb(13, 14, 14);
  border-radius: 10px;
  font-size: larger;
  width: 200px;
}
.button__edituser {
  display: flex;
  border-radius: 10px;
  width: 100px;
  justify-content: center;
  background: url("/img/bglogin.jpg") center / cover no-repeat;
  color: rgb(248, 250, 252);
}
.btn-user{
  width: 100%;
  align-items: center;
  justify-content: center;
}
.alert{
  position: absolute;
  top: 18%;
  left: 42%;
  background-color: (246,3,3,61%);
}
@media screen and (max-width: 1023px) {
  .edit__user{
    height: unset;
  }
}
//reponsive//
@media screen and (max-width: 1024px){
 .card-user__info {
  font-size: 15px;

 }
 .btn__edit-user {
  width: 20%;
 }
 .btn__remove-user{
  font-size: 15px;
  width: 25%;
 }
 .edit__user {
justify-content: flex-start; 

}
.edit__card {
  margin-top: 15%;
}

}
@media screen and (max-width: 814px){
  .edit__user{
    height: 100vh;
  }
  .card-user__info {
    font-size: 20px;
    
  }
  .card-user {
    width: 60%;
    height: 380px;
  }
}
@media screen and (max-width: 602px) {
  .card-user {
    height: 400px;
  }
  .create__card {
    width: 80%;
  }
}
@media screen and (max-width: 415px){
  
.add__user {
  width: 96%;
}
  .create__card {
    width: 85%;
  }
  .create__card input {
    width: 65%;
    font-size: 15px;
  }
  .create__card label {
    width: 30%;
    font-size: 15px;
  }
  .type__select {
    width: 65%;
    font-size: 15px;
  }
  .user__checkbox {
    width: 60%;
  }
  .user__checkbox label {
    width: 80%;
  }
  .user__checkbox input {
    width: 20%;
  }
  .button__user{
    width: 22%;
    padding: 4px 0;
    font-size: 18px;
  }
  .card-user {
    width: 90%;
  }
  .card-user__info {
    font-size: 16px;
    }
  .edit__user {
    justify-content: center;
    align-items: center;
    width: 95%;
    }
  .edit__card {
    width: 80%;
    margin-top: 20%;
  }
  .edit__card input {
    width: 60%;
  }
  .edit__card select {
    width: 60%;
  }

}
@media  screen and (max-width: 375px) {
  .edit__user {
    justify-content: flex-start;
  }
  
    .edit__card {
      margin-top: 25%;
      width: 90%;
    }
    .edit__card input {
      width: 60%;
      margin-left: 10%;
    }

    .card-user {
      width: 90%;
    }
}
@media  screen and (max-width: 320px){
  .edit__user {
    justify-content: center;
    height: 120vh;
  }
  .edit__card {
    margin-top: 25%;
    width: 80%;
    font-size: 15px;
  }
  .edit__card input {
    width: 70%;
    margin-right: 10%;
    
  }
  .full__type {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .edit__card label {
    width: 70%;
    display: flex;
    padding: 5px;
    font-size: 15px;
  }
  .edit__card select {
    width: 70%;
    margin-right: 10%;
  }
  input#checkbox {
    width: 10%;
  }
 .create__card select,
 .create__card input {
  width: 50%;
 }
 .user__checkbox {
  width: 100%;
 }
 .create__card label {
  width: 47%;
 }
  .card-user {
    width: 95%;
  }
  .btn__edit-user {
    width: 25%;
  }
  .btn__remove-user {
    width: 35%;
  }
}