#toTop {
  position: relative;
  top: -200px; }

.header {
  height: 80px;
  text-transform: uppercase;
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  border-bottom: 2px solid #e10d11; }

.header__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%; }

.navbar-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  text-align: center; }

.navbar-left a {
  text-decoration: none;
  color: unset; }

.navbar-left img {
  width: 46px;
  height: 44px;
  margin-bottom: 4px;
  cursor: pointer;
  animation-name: MoveInDown;
  animation-duration: 2s;
  animation-delay: 2; }

.navbar-left span {
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin: 0 6px;
  font-weight: 700; }

.navbar-left .text__left {
  animation-name: MoveInLeft;
  animation-duration: 2s; }

.navbar-left .text__right {
  animation-name: MoveInRight;
  animation-duration: 2s; }

.navbar-center {
  width: 70%; }

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  animation-name: MoveInLeft;
  animation-duration: 2s; }

.nav-list a,
.nav-list li {
  color: white;
  text-decoration: none;
  list-style: none;
  width: 200px;
  margin-top: 16px; }

ul {
  margin-bottom: unset !important;
  padding: unset !important; }

.nav-list ul {
  color: white;
  font-size: 16px;
  font-weight: 700; }

.nav-list li {
  font-size: 16px;
  font-weight: 700; }

.drop-down__Home,
.drop-down__Managements,
.drop-down__Statistics,
.drop-down__Submission,
.drop-down__Users {
  position: relative;
  padding: 30px 0 !important; }

.drop-down__Managements {
  cursor: pointer; }

.Managements-show,
.Users-show {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  padding-bottom: 10px;
  border-bottom: 2px solid #e10d11;
  top: 99% !important; }

.Managements-show {
  left: -25% !important; }

.Users-show {
  left: 0; }

.drop-down__Managements:hover .Managements-show {
  display: block; }

.drop-down__Home span:hover,
.drop-down__Managements:hover span,
.drop-down__Statistics span:hover,
.drop-down__Submission span:hover,
.drop-down__Users span:hover,
.Managements-show li:hover a,
.Users-show li:hover a {
  text-decoration: underline;
  cursor: pointer; }

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 10%;
  height: 84px; }

.login a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 700; }

.login {
  width: 100%;
  animation-name: MoveInRight;
  animation-duration: 1.5s;
  color: white;
  text-align: center;
  height: 100%; }

.login:hover {
  cursor: pointer; }

.login .show-logout,
.show-logout__mini {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 0 !important; }

ul.sign-in {
  height: 100%;
  padding: 27px !important; }

.show-logout__mini i,
.show-logout i {
  font-size: 30px; }

.show-user-info,
.show-user-info__mini {
  display: none;
  color: white;
  position: absolute;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px 12px !important;
  border-bottom: 2px solid #e10d11;
  bottom: -172px;
  right: 0;
  text-decoration: none;
  list-style-type: none;
  font-weight: 700;
  height: 170px;
  font-size: 16px; }

.show-user-info > *,
.show-user-info__mini > * {
  margin-bottom: 8px; }

a.out-user:hover {
  cursor: pointer;
  text-decoration: underline; }

.header-mini {
  display: none; }

@media screen and (min-width: 1024px) and (max-width: 1030px) {
  .nav-list ul,
  .nav-list li,
  .navbar-left span,
  .login span,
  .login a,
  .show-user-info {
    font-size: 14px; }
  .nav-list a, .nav-list li {
    width: 170px; } }

@media screen and (min-width: 319px) and (max-width: 768px) {
  .header {
    display: none; }
  .header-mini {
    display: block;
    text-transform: uppercase; }
  .header-mini .navbar-left {
    width: unset; }
  .header-mini #navbar-mini {
    background-color: transparent;
    border-bottom: 1px solid #e10d11; }
  .navbar-toggler {
    padding: unset !important;
    border: none !important;
    height: 100%; }
  .navbar-toggler:focus {
    box-shadow: none !important; }
  .offcanvas-header {
    border-bottom: 1px solid #e10d11; }
  .offcanvas-header,
  .offcanvas-body {
    background-color: #161516 !important; }
  .offcanvas-body {
    padding: unset !important; }
  .offcanvas-body .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start; }
  .nav-list > * {
    padding: 10px; }
  .navbar-toggler-icon {
    background-image: unset !important;
    text-align: center; }
  .navbar-toggler i {
    font-size: 36px;
    color: white; }
  .header-mini__login,
  .drop-down__Home,
  .drop-down__Managements,
  .drop-down__Statistics,
  .drop-down__Submission,
  .drop-down__Users {
    position: relative;
    padding: 10px 10px !important; }
  .list-user-info {
    padding: 0 10px;
    border-bottom: 1px solid #e10d11; }
  .list-user-info a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 10px; }
  .user-info__mini {
    width: 100%;
    list-style-type: none;
    font-size: 16px;
    font-weight: 700; }
  .out-user__mini {
    color: white;
    text-decoration: none;
    padding: 10px !important;
    font-size: 16px;
    font-weight: 700; }
  .out-user__mini:hover {
    text-decoration: underline; }
  .user-info__mini > * {
    width: 100%;
    padding: 8px 10px; }
  .Managements-show {
    z-index: 100; }
  .header-mini__login:hover .logout-mini {
    display: block;
    text-decoration: underline;
    cursor: pointer; }
  .Managements-show {
    left: 98% !important;
    top: 32% !important; }
  ul.drop-down__Users {
    width: 220px; } }

.loading {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0 !important; }

.loading img {
  transform: translateX(-3%);
  animation-name: Expansion;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.loading-distance {
  height: 16px;
  border-radius: 10px;
  width: 20%;
  border: 2px solid white; }

.distance-go {
  height: 100%;
  border-radius: 10px;
  background-color: #e10d11;
  animation-name: Distance;
  animation-duration: 3s; }

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 680px;
  background: url("/img/bgcontent.jpg") center/cover no-repeat;
  text-align: center;
  color: black;
  position: relative; }

.intro h2 {
  font-size: 50px;
  font-weight: 700;
  padding: 12px 0;
  margin: unset !important;
  color: white;
  text-transform: uppercase; }

.intro p {
  padding: 12px 24% 28px 24%;
  font-size: 14px;
  font-weight: 800;
  color: #b8c2c4;
  margin: unset !important;
  text-transform: uppercase; }

.btn__visit {
  width: 100%; }

.btn5-hover {
  width: 10%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.btn5-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.btn5-hover:focus {
  outline: none; }

.btn5-hover.btn5 {
  background-image: linear-gradient(to right, #e41f1f, #dc1111, #fe0425, #f71313);
  box-shadow: 0 4px 15px 0 rgba(234, 65, 65, 0.75); }

.container {
  margin-bottom: 50px; }

.celebrate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transform: translateY(-76%); }

.celebrate-75y {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 632px;
  background-color: white;
  box-shadow: 0 2px 17px #41302d;
  margin-right: 8px;
  overflow: hidden;
  cursor: pointer; }

.celebrate-75y:hover img {
  opacity: 1;
  transform: scale(1.1); }

.celebrate-75y:hover p {
  color: black; }

.celebrate-75y__img {
  width: 158px;
  height: 150px;
  overflow: hidden; }

.celebrate-75y__img img {
  width: 158px;
  height: 150px;
  opacity: 0.8; }

.celebrate-75y__text {
  padding: 0 50px 0 20px; }

.celebrate-75y__text span {
  color: #b8c2c4;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase; }

.celebrate-75y__text p {
  color: #4f5658;
  font-size: 15px;
  font-weight: 800;
  margin: unset; }

.bythenumbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 60px; }

.bythenumbers h2 {
  font-size: 76px;
  font-weight: 700;
  margin-bottom: 22px;
  text-transform: uppercase; }

.bythenumbers p {
  font-size: 18px;
  font-weight: 400;
  margin: 12px 0;
  padding: 0 100px;
  width: 80%; }

.params-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px; }

.param {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 22%; }

.param-number {
  font-family: trumpgothicpro, sans-serif;
  font-size: 76px;
  font-weight: 700;
  color: #e10d11;
  height: 60%;
  text-align: center; }

.param-text {
  font-size: 16px;
  font-weight: 700;
  padding: 0 10px;
  height: 40%; }

#carouselExampleControlsNoTouching {
  border-top: 1px solid #b8c2c4; }

.carousel-control-prev {
  left: -7px !important; }

.slogan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 300px;
  margin: 4% 10%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4); }

.slogan img {
  width: 350px !important;
  height: 200px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  margin-left: 20px; }

.slogan p {
  font-size: 38px;
  font-weight: 500;
  padding: 0 30px;
  color: #4f5658; }

.slogan-text {
  display: flex;
  flex-direction: column; }

.slogan-author {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 16px;
  font-weight: 500;
  color: #e10d11;
  padding-right: 20px; }

.carousel-control-prev-icon {
  background-image: unset !important; }

.carousel-control-next-icon {
  background-image: unset !important; }

.carousel-control-prev-icon i,
.carousel-control-next-icon i {
  font-size: 40px;
  color: #e10d11; }

.content-idea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  margin-top: 40px; }

.home-idea__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: 100%;
  padding: 55px 12px 55px 30px; }

.home-idea__text h2 {
  font-size: 42px;
  margin-bottom: 15px; }

.home-idea__text h3 {
  font-size: 38px;
  margin-bottom: 15px;
  font-weight: 700; }

.home-idea__text p {
  font-size: 17px;
  margin: 14px 0; }

.home-idea__text a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: 1px solid #e10d11;
  background-color: #e10d11;
  width: 35%;
  height: 40px;
  padding: 6px 16px;
  margin-top: 14px; }

.home-idea__text a:hover {
  text-decoration: underline;
  background-color: #b20003; }

.home-idea__img {
  width: 45%;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-right: 10%; }

.home-idea__img img {
  width: 124%;
  height: 100%; }

@media screen and (max-width: 1440px) {
  .btn5-hover.btn5 {
    width: 15%; }
  .celebrate-75y__img {
    width: 30%; }
  .celebrate-75y__text {
    width: 70%; }
  .celebrate-75y__img img {
    width: 100%; }
  .home-idea__text a {
    width: 41%; } }

@media screen and (max-width: 1024px) {
  .loading {
    justify-content: flex-start;
    align-items: center; }
  .loading img {
    margin-top: 180px; }
  .intro {
    height: 580px; }
  .btn5-hover.btn5 {
    width: 20%; }
  .celebrate {
    flex-direction: column;
    transform: translateY(-25%); }
  .celebrate-75y {
    height: 135px;
    margin: 8px 0 0 0;
    box-shadow: 0 2px 10px #41302d; }
  .bythenumbers {
    margin-bottom: 40px; }
  .bythenumbers h2 {
    font-size: 72px; }
  .params-list {
    justify-content: space-around;
    flex-wrap: wrap; }
  .param {
    width: 50%;
    justify-content: space-between; }
  .param-text {
    margin-top: 12px;
    font-size: 14px; }
  .slogan {
    height: 260px; }
  .slogan img {
    width: 350px !important;
    height: 150px; }
  .slogan-text p {
    font-size: 22px;
    margin-top: 8px;
    padding: 0 16px;
    margin-bottom: unset; }
  .content-idea {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center; }
  .home-idea__text {
    padding: unset;
    width: 100%;
    height: 50%;
    align-items: center; }
  .home-idea__text p {
    text-align: center;
    padding: 0 15%; }
  .home-idea__text h2,
  .home-idea__text h3 {
    margin-bottom: unset; }
  .home-idea__img {
    width: 100%;
    margin: unset;
    height: 50%; }
  .home-idea__img img {
    width: 100%;
    height: 100%; }
  .home-idea__text a {
    width: 20%;
    text-align: center;
    padding: 8px 0; } }

@media screen and (max-width: 768px) {
  .loading {
    z-index: 2000; }
  .loading-distance {
    width: 40%; }
  .btn5-hover.btn5 {
    width: 25%; }
  .bythenumbers h2 {
    font-size: 60px;
    width: 50%; }
  .home-idea__text a {
    width: 25%; } }

@media screen and (max-width: 600px) {
  .intro h2 {
    padding: 12px 44px; }
  .btn5-hover.btn5 {
    width: 30%; }
  .celebrate-75y {
    width: 95%; }
  .celebrate-75y__text {
    width: 70%; }
  .celebrate-75y__img {
    width: 30%; }
  .bythenumbers h2 {
    width: 60%; }
  .bythenumbers p {
    padding: 0 40px; }
  .home-idea__text a {
    width: 34%; } }

@media screen and (max-width: 414px) {
  .loading img {
    width: 200px; }
  .loading-distance {
    width: 44%; }
  .intro {
    height: 660px; }
  .intro h2 {
    font-size: 36px;
    padding: 0 20px; }
  .intro p {
    padding: 12px 30px 28px 30px; }
  .btn5-hover.btn5 {
    width: 50%; }
  .celebrate-75y__text {
    padding: 0 20px 0 20px;
    width: 65%; }
  .celebrate-75y__text span {
    font-size: 11px; }
  .celebrate-75y__text p {
    font-size: 12px; }
  .celebrate-75y__img {
    width: 35%; }
  .celebrate-75y__img img {
    width: 100%; }
  .bythenumbers h2 {
    font-size: 42px; }
  .bythenumbers p {
    padding: unset; }
  .params-list {
    flex-direction: column; }
  .param {
    width: 100%; }
  .slogan {
    flex-direction: column;
    height: 370px; }
  .slogan img {
    width: 159px !important;
    height: 159px;
    margin: unset; }
  .slogan p {
    text-align: center;
    font-size: 16px;
    margin-top: 16px; }
  .slogan-author {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: unset; }
  .home-idea__text h2 {
    font-size: 32px;
    margin-bottom: 12px; }
  .home-idea__text h3 {
    font-size: 28px; }
  .home-idea__text p {
    font-size: 15px;
    padding: 0 8%; }
  .home-idea__text a {
    width: 50%; } }

@media screen and (max-width: 320px) {
  .loading img {
    width: 160px;
    margin-top: 140px; }
  .loading-distance {
    width: 44%; }
  .intro h2 {
    font-size: 30px;
    padding: 0 12px; }
  .intro p {
    padding: 12px 15px 12px 15px; }
  .btn__visit {
    margin-top: 8px; }
  .btn5-hover.btn5 {
    width: 60%; }
  .bythenumbers h2 {
    font-size: 34px;
    width: 80%; }
  .home-idea__text h2 {
    font-size: 26px; }
  .home-idea__text h3 {
    font-size: 22px; }
  .home-idea__text a {
    font-size: 14px; } }

.main-staffsubmission {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url("/img/bgcontent.jpg") center/cover no-repeat; }

.staffsubmission-application {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-bottom: 200px; }

.staffsubmission-application > * {
  margin-bottom: 20px; }

.staffsubmission-text {
  font-size: 50px;
  font-weight: 700;
  margin: 150px 0 50px 0;
  color: white; }

.staffsubmission-application a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700; }

.table-staffsubmission {
  color: black;
  width: 100%;
  margin-top: 20px; }

.table-staffsubmission thead {
  background-color: white; }

.table-staffsubmission th,
.table-staffsubmission td {
  font-size: 20px;
  font-weight: 100px;
  padding: 18px 20px; }

.action-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.table-staffsubmission tbody {
  background-color: #DCDCDC;
  height: 40px; }

.staffsubmission-btn__view,
.staffsubmission-btn__download-zip,
.staffsubmission-btn__download-excel {
  text-decoration: none;
  color: white;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  margin-right: 10px; }

.staffsubmission-btn__view {
  background-color: #be1c1c; }

.staffsubmission-btn__view:hover {
  background-color: white;
  color: #be1c1c; }

.staffsubmission-btn__download-zip {
  background-color: #222668; }

.staffsubmission-btn__download-zip:hover {
  background-color: white;
  color: #222668; }

.staffsubmission-btn__download-excel {
  background-color: #178724; }

.staffsubmission-btn__download-excel:hover {
  background-color: white;
  color: #178724; }

#form-create-staffsubmission {
  width: 100%;
  margin-bottom: 421px; }

.main-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url("/img/bgcontent.jpg") center/cover no-repeat; }

.detail_btn {
  margin-top: 50px; }

.detail-application {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-bottom: 300px; }

.detail-text {
  font-size: 50px;
  font-weight: 700;
  margin: 150px 0 50px 0;
  color: #f8f8f8; }

.comment_btn label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px; }

.comment_btn textarea {
  display: block;
  width: 100%;
  height: 80px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  resize: none;
  background-color: transparent;
  color: #ffffff; }

.sub_btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #ab5555;
  border: none;
  border-radius: 3px; }

.sub_btn:hover {
  background-color: #8e3e3e; }

#comment-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  color: #fff; }

.comment-value {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start; }

.comment-value p {
  display: inline-block;
  background-color: #8e3e3e;
  padding: 4px 10px;
  border-radius: 10px;
  margin: 12px 0 0 0; }

.detail-show {
  color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px; }

.detail-show div {
  margin-bottom: 10px; }

.detail-show div td {
  padding-left: 10px; }

.show-comment {
  border: 1px solid #ccc;
  background-color: none;
  padding: 10px;
  margin-bottom: 10px;
  color: #ffffff; }

.show-comment {
  font-weight: bold; }

.show-comment {
  margin-top: 5px; }

.main-create-idea {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url("/img/bgcontent.jpg") center/cover no-repeat; }

.create-idea-application {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-bottom: 300px; }

.create-idea-application > * {
  margin-bottom: 20px; }

.create-idea-text {
  font-size: 50px;
  font-weight: 700;
  margin: 150px 0 50px 0;
  color: white; }

.create-idea-application a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700; }

.create-idea-btn {
  width: 120px;
  height: 40px;
  border: none;
  background-color: #e10d11;
  color: white;
  border-radius: 12px;
  padding: 6px 20px;
  margin: 50px 0 0 40px; }

.create-idea-btn:hover {
  transform: scale(1.1); }

.table-create-idea {
  color: black;
  width: 100%;
  margin-top: 50px; }

.table-create-idea thead {
  background-color: white; }

.table-create-idea th,
.table-create-idea td {
  font-size: 18px;
  font-weight: 600;
  padding: 12px 12px; }

.table-create-idea tbody {
  background-color: #DCDCDC;
  height: 40px; }

.create-idea-btn__edit,
.create-idea-btn__remove {
  text-decoration: none;
  color: white;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px; }

.create-idea-btn__edit {
  background-color: #FCBB04; }

.create-idea-btn__edit:hover {
  background-color: white;
  color: #FCBB04; }

.create-idea-btn__remove {
  background-color: #B40404; }

.create-idea-btn__remove:hover {
  background-color: white;
  color: #B40404; }

#form-create-idea {
  width: 100%;
  margin-bottom: 421px; }

.create-idea-create,
.create-idea-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%; }

.create-idea__info,
.create-idea-edit__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 10px;
  padding: 5px; }

.create-idea__info label,
.create-idea__info label {
  text-align: center;
  width: 20%; }

.create-idea__info input,
.create-idea__info select {
  width: 100%;
  height: 44px;
  border-radius: 10px; }

.create-idea-edit__btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 70px 0 0 100px; }

.create-idea-edit__btn > * {
  margin-right: 12px; }

.btn-create-idea-create,
.btn-create-idea-edit,
.btn-create-idea-back {
  border: none;
  outline: none;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: #e10d11;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 2px; }

a.btn-create-idea-back {
  text-decoration: none;
  padding: 4px 8px; }

.btn-create-idea-create:hover,
.btn-create-idea-edit:hover,
.btn-create-idea-back:hover {
  color: black;
  transform: scale(1.1);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.2)); }

.check_info {
  padding-left: 18%; }

.main-idea {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url("/img/bgcontent.jpg") center/cover no-repeat; }

.idea-application {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-bottom: 50px; }

.idea-text {
  font-size: 50px;
  font-weight: 700;
  margin-top: 150px;
  margin-left: 500px;
  color: #f8f8f8;
  margin-right: 100px; }

.idea-application a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700px; }

.idea_btn {
  width: 120px;
  height: 40px;
  border: none;
  background-color: #e10d11;
  color: white;
  border-radius: 12px;
  padding: 6px 20px;
  margin-top: 50px;
  margin-bottom: 20px; }

.idea_btn:hover {
  transform: scale(1.1); }

.table-idea {
  color: black;
  width: 100%;
  margin-bottom: 20px; }

.table-idea thead {
  background-color: white;
  text-align: left; }

.table-idea th,
.table-idea td {
  font-size: 18px;
  font-weight: 600px;
  padding: 12px 12px; }

.table-idea tbody {
  background-color: #DCDCDC;
  height: 40px; }

.detail-link,
.like_btn,
.dislike_btn {
  border: none;
  text-decoration: none;
  color: white;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  width: 73px; }

button.dislike_btn {
  right: 228px;
  z-index: 10px;
  position: absolute; }

button.like_btn {
  right: 307px;
  z-index: 10px;
  position: absolute; }

.detail-link {
  margin-top: 8px; }

.idea-action__item {
  width: 310px;
  text-align: end;
  padding: 14px 12px; }

.view_count {
  pointer-events: none;
  border: none;
  padding: 0px;
  background-color: transparent;
  width: 30px; }

.like_count {
  pointer-events: none;
  border: none;
  padding: 0px;
  background-color: transparent;
  width: 10px; }

.dislike_count {
  pointer-events: none;
  border: none;
  padding: 0px;
  background-color: transparent;
  width: 30px; }

.detail-link {
  background-color: #FCBB04; }

.detail-link:hover {
  background-color: white;
  color: #FCBB04; }

.like_btn {
  background-color: #04b41b; }

.like_btn:hover {
  background-color: white;
  color: #0ab404; }

.dislike_btn {
  background-color: #B40404; }

.dislike_btn:hover {
  background-color: white;
  color: #B40404; }

#form-create-idea {
  width: 100%;
  margin-bottom: 421px; }

.like_btn,
.dislike_btn {
  border: none; }

.warning {
  background-color: #FCBB04; }

.danger {
  background-color: #9C0404; }

.none {
  display: none; }

.check-annoymous {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 10px;
  color: #b8c2c4;
  margin-top: 12px; }

input#annoymous {
  margin-right: 4px; }

.main-submission,
.main-department,
.main-category,
.main-statistics {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url("/img/bgcontent.jpg") center/cover no-repeat; }

.submission-application,
.department-application,
.category-application,
.statistics-application {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-bottom: 300px; }

.submission-application > *,
.department-application > *,
.category-application > *,
.statistics-application > * {
  margin-bottom: 20px; }

.submission-text,
.department-text,
.category-text,
.statistics-text {
  font-size: 50px;
  font-weight: 700;
  margin: 150px 0 50px 0;
  color: white; }

.submission-application a,
.department-application a,
.category-application a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700; }

.submission-btn,
.department-btn,
.category-btn {
  width: 120px;
  height: 40px;
  border: none;
  background-color: #e10d11;
  color: white;
  border-radius: 12px;
  padding: 6px 20px;
  margin: 50px 0 0 40px; }

.submission-btn:hover,
.department-btn:hover,
.category-btn:hover {
  transform: scale(1.1); }

.table-submission,
.table-department,
.table-category,
.table-statistics {
  color: black;
  width: 100%;
  margin-top: 50px;
  text-transform: capitalize; }

.table-submission thead,
.table-department thead,
.table-category thead,
.table-statistics thead {
  background-color: white; }

.table-submission th,
.table-submission td,
.table-department th,
.table-department td,
.table-category th,
.table-category td,
.table-statistics th,
.table-statistics td {
  font-size: 18px;
  font-weight: 600;
  padding: 12px 12px; }

.table-submission tbody,
.table-department tbody,
.table-category tbody,
.table-statistics tbody {
  background-color: #dcdcdc;
  height: 40px; }

.submission-list__main,
.department-list__main,
.category-list__main,
.statistics-list__main {
  border-top: 1px solid #bcbcbc; }

.submission-btn__edit,
.submission-btn__remove,
.department-btn__edit,
.department-btn__remove,
.category-btn__edit,
.category-btn__remove {
  text-decoration: none;
  color: white;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  text-transform: capitalize; }

.submission-btn__edit,
.department-btn__edit,
.category-btn__edit {
  background-color: #fcbb04;
  border: 1px solid #fcbb04; }

.submission-btn__edit:hover,
.department-btn__edit:hover,
.category-btn__edit:hover {
  background-color: white;
  color: #fcbb04; }

.submission-btn__remove,
.department-btn__remove,
.category-btn__remove {
  background-color: #b40404;
  border: 1px solid #b40404; }

.submission-btn__remove:hover,
.department-btn__remove:hover,
.category-btn__remove:hover {
  background-color: white;
  color: #b40404; }

#form-create-submission,
#form-create-department,
#form-create-category {
  width: 100%;
  margin-bottom: 421px; }

.submission-create,
.submission-edit,
.department-create,
.department-edit,
.category-create,
.category-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%; }

.submission-create__info,
.submission-edit__info,
.department-create__info,
.department-edit__info,
.category-create__info,
.category-edit__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%; }

.submission-create__info,
.submission-edit__info {
  margin-bottom: 16px; }

.submission-create__info label,
.submission-edit__info label,
.department-create__info label,
.department-edit__info label,
.category-create__info label,
.category-edit__info label {
  text-align: center;
  width: 20%; }

.submission-create__info input,
.submission-edit__info input,
.department-create__info input,
.department-edit__info input,
.category-create__info input,
.category-edit__info input {
  width: 100%;
  height: 44px;
  border-radius: 10px;
  text-transform: capitalize; }

.submission-edit__btn,
.department-edit__btn,
.category-edit__btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 70px 0 0 100px; }

.submission-edit__btn > *,
.department-edit__btn > *,
.category-edit__btn > * {
  margin-right: 12px; }

.btn-submission-create,
.btn-submission-edit,
.btn-submission-back,
.btn-department-create,
.btn-department-edit,
.btn-department-back,
.btn-category-create,
.btn-category-edit,
.btn-category-back {
  border: none;
  outline: none;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: #e10d11;
  color: white;
  font-size: 20px;
  font-weight: 500; }

a.btn-submission-back,
a.btn-department-back,
a.btn-category-back {
  text-align: center;
  text-decoration: none;
  padding: 5px 20px; }

.btn-submission-create:hover,
.btn-submission-edit:hover,
.btn-submission-back:hover,
.btn-department-create:hover,
.btn-department-edit:hover,
.btn-department-back:hover,
.btn-category-create:hover,
.btn-category-edit:hover,
.btn-category-back:hover {
  color: black;
  transform: scale(1.1);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.2)); }

@media screen and (max-width: 768px) {
  .submission-create,
  .submission-edit,
  .department-create,
  .department-edit,
  .category-create,
  .category-edit {
    width: 100%;
    align-items: center; }
  .submission-create__info,
  .submission-edit__info,
  .department-create__info,
  .department-edit__info,
  .category-create__info,
  .category-edit__info {
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center; }
  .submission-create__info label,
  .submission-edit__info label,
  .department-create__info label,
  .department-edit__info label,
  .category-create__info label,
  .category-edit__info label {
    font-size: 20px;
    width: 100%;
    margin-bottom: 12px; }
  .table-submission .actions,
  .table-department .actions,
  .table-category .actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 140px; }
  .actions > * {
    text-align: center;
    margin-top: 6px;
    width: 100%; } }

@media screen and (max-width: 414px) {
  .submission-application {
    overflow-x: auto; }
  .submission-text {
    font-size: 40px; } }

@media screen and (max-width: 375px) {
  .department-text,
  .category-text {
    font-size: 44px; }
  .submission-text {
    font-size: 36px; } }

@media screen and (max-width: 320px) {
  .department-text,
  .category-text {
    font-size: 38px; }
  .submission-text {
    font-size: 30px; } }

.add__user,
.edit__user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("/img/bglogin.jpg") center/cover no-repeat; }

.edit__user {
  height: 100vh; }

.create__card,
.edit__card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  width: 400px;
  background-color: transparent;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.2));
  border: 4px solid #e10d11;
  border-radius: 36px;
  z-index: 0;
  margin-top: 200px;
  text-align: center; }

.edit__card {
  margin: 350px 0 300px 0; }

.full__type {
  display: flex;
  align-items: self-end;
  margin-left: 10px;
  width: 100%; }

.edit__card h3,
.create__card h3 {
  margin-bottom: unset !important;
  text-align: center;
  width: 100%;
  padding: 8px 0; }

.type__name input:invalid {
  border-color: red; }

input,
input:valid {
  border-color: #ccc; }

.edit__card label,
.create__card label {
  align-items: center;
  width: 25%;
  justify-content: revert;
  margin-top: 10%;
  display: flex; }

.edit__card input,
.create__card input {
  border-radius: 10px;
  border: 4px solid #e10d11;
  width: 70%;
  padding: 4px; }

.button__user {
  display: flex;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  width: 20%;
  height: 65%;
  justify-content: center;
  font-size: 20px;
  padding: 8px 0; }

.type__select {
  width: 70%;
  border-radius: 10px;
  border: 4px solid #e10d11;
  height: 35px; }

.user__checkbox {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  font-size: x-large; }

.edit__checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 24px 0 12px 0;
  width: 100%;
  text-align: center; }

.edit__checkbox input {
  width: 10%;
  margin-top: 8px; }

.edit__checkbox label {
  margin: unset;
  width: 90%; }

.edit__checkbox label,
.user__checkbox label {
  font-size: large;
  width: 300px; }

.user__checkbox input {
  width: 10%; }

.boxer-user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  width: 100%; }

.card-user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 350px;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: transparent;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.2));
  border: 4px solid #e10d11;
  border-radius: 16px;
  margin: 20px 50px;
  color: white; }

.card-user__info,
.btn-user__action {
  margin: unset !important;
  font-size: 20px;
  font-size: 700;
  width: 100%; }

.card-user__info {
  padding: 0 10px 0 20px; }

.btn-user__action {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center; }

.btn__edit-user {
  width: 73.43px;
  margin-right: 8px; }

.listpage {
  margin-bottom: 20px !important; }

.listpage li {
  display: inline-block;
  width: 30px;
  height: 20px;
  background-color: #e10d11;
  color: white;
  text-align: center;
  margin: 0 8px;
  padding: 4px 0;
  cursor: pointer;
  box-sizing: unset; }

.listpage li:hover {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.2)); }

.listpage .active {
  border: 2px solid white;
  transform: scale(1.2); }

#form-edit-user {
  width: 100%;
  margin-bottom: 421px;
  display: flex;
  justify-content: center; }

.edit__user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("/img/bglogin.jpg") center/cover no-repeat;
  color: #212529; }

.form__edit {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: 600px;
  background-color: red;
  border: 4px black;
  border-radius: 36px;
  z-index: 0;
  margin-top: 100px;
  color: #212529; }

.form__edit h3 {
  font-size: 50px;
  margin-bottom: 20%;
  height: 10px;
  width: 100%;
  display: flex;
  justify-content: center; }

.form__edit input {
  background-color: #f6f7f9;
  color: #0d0e0e;
  border-radius: 10px;
  font-size: larger;
  width: 200px; }

.form__edit label {
  color: #212529;
  width: 100px;
  font-size: larger; }

.edit__select {
  background-color: #f6f7f9;
  color: #0d0e0e;
  border-radius: 10px;
  font-size: larger;
  width: 200px; }

.button__edituser {
  display: flex;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  width: 100px;
  justify-content: center;
  background: url("/img/bglogin.jpg") center/cover no-repeat;
  color: #f8fafc; }

.btn-user {
  width: 100%;
  align-items: center;
  justify-content: center; }

@media screen and (max-width: 1024px) {
  .card-user__info {
    font-size: 15px; }
  .btn__edit-user {
    font-size: 15px; }
  .btn__remove-user {
    font-size: 15px;
    width: 25%; }
  .edit__user {
    justify-content: flex-start; }
  .edit__card {
    margin-top: 15%; } }

@media screen and (max-width: 768px) {
  .card-user__info {
    font-size: 20px; }
  .card-user {
    width: 60%;
    height: 380px; } }

@media screen and (max-width: 600px) {
  .card-user {
    height: 400px; } }

@media screen and (max-width: 414px) {
  .create__card {
    width: 90%; }
  .create__card input {
    width: 60%;
    font-size: 15px; }
  .create__card label {
    width: 30%;
    font-size: 15px; }
  .type__select {
    width: 60%;
    font-size: 15px; }
  .user__checkbox {
    width: 60%; }
  .user__checkbox label {
    width: 80%; }
  .user__checkbox input {
    width: 20%; }
  .button__user {
    width: 22%;
    padding: 4px 0;
    font-size: 18px; }
  .card-user {
    width: 90%;
    margin: 20px 0; }
  .card-user__info {
    font-size: 16px; }
  .edit__user {
    justify-content: flex-start; }
  .edit__card {
    width: 80%;
    margin-top: 20%; }
  .edit__card input {
    width: 60%;
    margin-left: 10%; }
  .edit__card select {
    width: 60%;
    margin-left: 10%; }
  input#checkbox {
    margin-left: unset;
    width: 10%; } }

@media screen and (max-width: 320px) {
  .create__card select {
    margin-left: 8px; }
  .create__card input {
    margin-left: 8px; }
  .card-user {
    width: 95%; } }

@media screen and (max-width: 375px) {
  .edit__user {
    justify-content: flex-start; }
  .edit__card {
    margin-top: 25%;
    width: 90%; }
  .edit__card input {
    width: 60%;
    margin-left: 10%; } }

@media screen and (max-width: 320px) {
  .edit__user {
    justify-content: flex-start; }
  .edit__card {
    margin-top: 25%;
    width: 90%; }
  .edit__card input {
    width: 70%;
    margin-right: 10%; }
  .edit__card label {
    width: 80%; }
  .edit__card select {
    width: 70%;
    margin-right: 10%; }
  input#checkbox {
    margin-right: unset; } }

.box-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 800px;
  background: url("/img/bglogin.jpg") center/cover no-repeat; }

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: transparent;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.2));
  border: 4px solid #e10d11;
  border-radius: 36px;
  z-index: 0; }

.login-primary__text {
  font-size: 40px;
  font-weight: 700;
  color: white;
  text-transform: uppercase; }

.login-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: -38px; }

.login-info i {
  width: 20%;
  font-size: 30px;
  color: white; }

.login-info input {
  width: 79%;
  height: 36px;
  padding: 3px 12px;
  margin-left: 2%;
  border-radius: 12px;
  color: white;
  border: 3px solid #e10d11;
  background-color: transparent; }

.login-info input:focus-visible {
  outline: 3px solid #e10d11;
  border: none !important; }

.login-error {
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin: unset;
  padding: 8px 14px;
  background-color: rgba(254, 2, 2, 0.321); }

.info__remember {
  transform: translateX(-20%); }

#remember {
  width: unset;
  margin-right: 12px;
  cursor: pointer; }

label {
  color: white;
  font-weight: 500; }

.btn-login {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: white;
  width: 120px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 14px;
  background-color: transparent;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
  border: 3px solid #e10d11;
  transform: translateX(50%, 50%); }

.btn-login:hover {
  transform: scale(1.1); }

.acc-login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 380px;
  height: 380px;
  font-size: 20px;
  font-weight: 500; }

.acc-login h2 {
  border: 2px solid #e10d11;
  width: 274px;
  color: white;
  font-weight: 700; }

.accounts,
.password {
  border-bottom: 2px solid #e10d11;
  height: 40px; }

.accounts input,
.password input {
  text-align: center;
  border: none;
  outline: none;
  background-color: unset;
  color: white;
  pointer-events: none; }

.accounts button,
.password button {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: white;
  width: 50px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #e10d11; }

.accounts button:hover,
.password button:hover {
  background-color: #e10d11;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.2));
  opacity: 0.8; }

.show-password {
  position: relative; }

.icon-password {
  position: absolute;
  top: 0;
  right: 26px; }

@media screen and (max-width: 768px) {
  .login-form {
    margin-left: 40px; } }

@media screen and (max-width: 600px) {
  .login-form {
    margin-left: unset; }
  .acc-login {
    display: none; } }

@media screen and (max-width: 375px) {
  .login-form {
    width: 350px;
    height: 380px; }
  .login-info {
    margin-left: -15px; } }

@media screen and (max-width: 320px) {
  .box-login {
    height: 640px; }
  .login-form {
    width: 300px;
    height: 360px; } }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #232223;
  color: white;
  height: 200px;
  overflow: hidden; }

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
  height: 80px;
  padding: 10px 0;
  /* border-bottom: 1px solid white; */ }

.footer-content a {
  color: white;
  text-decoration: none; }

.footer-content ul li {
  display: inline-block;
  list-style: none;
  margin: 0 12px; }

.underline {
  background-color: white;
  width: 100%;
  height: 1px; }

.underline img {
  height: 60px;
  animation-name: RunAway;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  position: relative;
  top: -39px; }

.footer__icon {
  text-align: center; }

.footer .bi {
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin: 0 12px; }

.footer .bi:hover {
  color: #e10d11; }

#moveTopBtn {
  opacity: 0; }

button#moveTopBtn {
  border: none;
  outline: unset;
  width: 40px;
  background-color: unset;
  position: fixed;
  bottom: 2%;
  right: 2%; }

#moveTopBtn i {
  font-size: 30px;
  color: #e10d11;
  z-index: 5;
  cursor: pointer; }

@keyframes MoveInLeft {
  0% {
    opacity: 0;
    transform: translatex(-100px); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translatex(100px); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@keyframes MoveInDown {
  0% {
    opacity: 0;
    transform: translatey(-100px); }
  100% {
    opacity: 1;
    transform: translatey(0px); } }

@keyframes Expansion {
  0% {
    opacity: 0.1;
    filter: blur(4px); }
  100% {
    opacity: 1;
    filter: blur(0); } }

@keyframes Distance {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes RunAway {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(100vw); } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s; }

body {
  margin: 0;
  font-family: Helvetica Neue, HelveticaNeueLTPro, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #666;
  text-align: left;
  background-color: #fff;
  width: 100vw;
  overflow-x: hidden; }
