#toTop {
  position: relative;
  top: -200px; }

.header {
  height: 80px;
  text-transform: uppercase;
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  border-bottom: 2px solid #e10d11; }

.header__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%; }

.navbar-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  text-align: center; }

.navbar-left a {
  text-decoration: none;
  color: unset; }

.navbar-left img {
  width: 46px;
  height: 44px;
  margin-bottom: 4px;
  cursor: pointer;
  animation-name: MoveInDown;
  animation-duration: 2s;
  animation-delay: 2; }

.navbar-left span {
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin: 0 6px;
  font-weight: 700; }

.navbar-left span.text__left {
  animation-name: MoveInLeft;
  animation-duration: 2s;
  animation-delay: 2s; }

.navbar-left span.text__right {
  animation-name: MoveInRight;
  animation-duration: 2s;
  animation-delay: 2s; }

.navbar-center {
  width: 65%; }

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  animation-name: MoveInLeft;
  animation-duration: 0.7s;
  animation-delay: .5s;
  animation-timing-function: linear; }

.nav-list ul {
  color: white;
  cursor: pointer; }

.nav-list a,
.nav-list li {
  color: white;
  text-decoration: none;
  list-style: none;
  width: 200px;
  margin-top: 16px; }

.nav-list ul {
  font-size: 16px;
  font-weight: 700; }

.nav-list li {
  font-size: 16px;
  font-weight: 700; }

.drop-down__Managements,
.drop-down__Submission,
.drop-down__Users {
  position: relative;
  cursor: pointer;
  padding: 30px; }

.Managements-show,
.Users-show {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  padding-bottom: 10px;
  border-bottom: 2px solid #e10d11;
  top: 99% !important; }

.Managements-show {
  left: -19% !important; }

.Users-show {
  left: 0; }

.drop-down__Managements:hover .Managements-show,
.drop-down__Users:hover .Users-show {
  display: block; }

.drop-down__Home:hover span,
.drop-down__Managements:hover span,
.drop-down__Submission:hover span,
.drop-down__Users:hover span,
.Managements-show li:hover a,
.Users-show li:hover a {
  text-decoration: underline; }

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 10%; }

.login a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 700; }

.login {
  animation-name: Expansion;
  animation-duration: 1.5s;
  animation-delay: .5s; }

.header-mini {
  display: none; }

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 680px;
  background: url("/img/bgcontent.jpeg") center/cover no-repeat;
  text-align: center;
  color: black;
  position: relative; }

.intro h2 {
  font-size: 50px;
  font-weight: 700;
  padding: 12px 0;
  margin: unset !important;
  color: white;
  text-transform: uppercase; }

.intro p {
  padding: 12px 24% 28px 24%;
  font-size: 14px;
  font-weight: 800;
  color: #b8c2c4;
  margin: unset !important;
  text-transform: uppercase; }

.btn__visit {
  width: 100%; }

.btn5-hover {
  width: 10%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.btn5-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.btn5-hover:focus {
  outline: none; }

.btn5-hover.btn5 {
  background-image: linear-gradient(to right, #e41f1f, #dc1111, #fe0425, #f71313);
  box-shadow: 0 4px 15px 0 rgba(234, 65, 65, 0.75); }

.container {
  margin-bottom: 50px; }

.celebrate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transform: translateY(-76%); }

.celebrate-75y {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 632px;
  background-color: white;
  box-shadow: 0 2px 17px #41302d;
  margin-right: 8px;
  overflow: hidden;
  cursor: pointer; }

.celebrate-75y:hover img {
  opacity: 1;
  transform: scale(1.1); }

.celebrate-75y:hover p {
  color: black; }

.celebrate-75y__img {
  width: 158px;
  height: 150px;
  overflow: hidden; }

.celebrate-75y__img img {
  width: 158px;
  height: 150px;
  opacity: 0.8; }

.celebrate-75y__text {
  padding: 0 50px 0 20px; }

.celebrate-75y__text span {
  color: #b8c2c4;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase; }

.celebrate-75y__text p {
  color: #4f5658;
  font-size: 15px;
  font-weight: 800;
  margin: unset; }

.bythenumbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px; }

.bythenumbers h2 {
  font-size: 76px;
  font-weight: 700;
  margin-bottom: 22px;
  text-transform: uppercase; }

.bythenumbers p {
  font-size: 17px;
  font-weight: 400;
  margin: 12px 0;
  padding: 0 65px; }

.params-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px; }

.param {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 22%; }

.param-number {
  font-size: 76px;
  font-weight: 700;
  color: #e10d11;
  height: 60%; }

.param-text {
  font-size: 16px;
  font-weight: 700;
  padding: 0 10px;
  height: 40%; }

.content-idea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4); }

.idea-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: 100%;
  padding: 55px 12px 55px 30px; }

.idea-text h2 {
  font-size: 42px;
  margin-bottom: 15px; }

.idea-text h3 {
  font-size: 38px;
  margin-bottom: 15px; }

.idea-text p {
  font-size: 17px;
  margin: 14px 0; }

.idea-text a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: 1px solid #e10d11;
  background-color: #e10d11;
  width: 34%;
  height: 40px;
  padding: 6px 16px;
  margin-top: 14px; }

.idea-text a:hover {
  text-decoration: underline;
  background-color: #b20003; }

.idea-img {
  width: 45%;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-right: 10%; }

.idea-img img {
  width: 124%;
  height: 100%; }

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 130px;
  overflow-x: hidden; }

.main__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 65%; }

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%; }

.sidebar-card__ads {
  width: 80%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
  margin-bottom: 24px; }

.sidebar-card__ads img {
  height: 40%; }

ul {
  margin-bottom: 0 !important;
  padding-left: 0 !important;
  padding-inline-start: 0 !important; }

.Courses-show,
.Teachers-show {
  top: 94%;
  left: -45%; }

.showcreate {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  height: 100px;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 20px; }

.showcreate textarea {
  resize: none;
  border: none;
  height: 48px;
  border-radius: 20px;
  outline: none;
  overflow: hidden;
  padding: 12px 16px;
  cursor: pointer; }

#alertSuccess {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 100px;
  border: 5px solid #04E474;
  border-radius: 10px;
  color: #04E474;
  transform: translatey(-150%);
  z-index: 10; }

#alertSuccess i,
#alertComment i,
#alertFail {
  font-size: 40px; }

.textSuccess span,
.textComment span,
.textFail span {
  font-size: 25px;
  text-transform: uppercase; }

.textSuccess p,
.textComment p {
  margin: unset;
  color: #9C9C9C;
  font-size: 18px; }

#alertFail {
  position: absolute;
  top: 0;
  left: 35%;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 100px;
  background-color: white;
  border: 5px solid #DA0404;
  border-radius: 10px;
  color: #DA0404;
  transform: translateY(-200%);
  z-index: 10; }

.textFail {
  padding: 6px; }

.textFail p {
  font-size: 16px; }

#overplayCancle {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer; }

#alertCancle {
  position: absolute;
  top: 20%;
  left: 40%;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 240px;
  border: 5px solid #FC0404;
  color: #FC0404;
  border-radius: 10px;
  text-align: center;
  transform: translatey(-300%);
  z-index: 10; }

#alertCancle i {
  font-size: 40px; }

.textCancle span {
  font-size: 25px;
  text-transform: uppercase; }

.textCancle p {
  margin: unset;
  color: #9C9C9C;
  font-size: 18px; }

.btnCancle button {
  border: none;
  width: 80px;
  height: 40px;
  border-radius: 10px; }

.doCancle {
  background-color: #FC0404;
  color: white; }

.nonCancle {
  background-color: #04E474;
  color: white; }

.doCancle:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #F80404;
  border: 1px solid #FC0404; }

.nonCancle:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #04E474;
  border: 1px solid #04E474; }

#alertComment {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 100px;
  border: 5px solid #FCAC34;
  border-radius: 10px;
  color: #FCAC34;
  transform: translatey(-150%);
  z-index: 10; }

#overplay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer; }

#show {
  display: block;
  margin: auto;
  width: 60%;
  height: 520px;
  border-radius: 20px;
  z-index: 3;
  position: absolute;
  top: 0;
  left: -1%;
  right: 0;
  bottom: 10%;
  transform: translateY(-200%); }

form > * {
  padding: 0 24px; }

form h1 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 12px;
  margin: unset; }

form .col-md-2 {
  width: unset;
  margin-bottom: 12px; }

.col {
  flex: none; }

.submitCreate {
  padding: 8px 0 12px 0;
  text-align: center; }

.btn-back {
  width: 125.21px;
  height: 38px;
  text-align: center;
  background-color: grey !important;
  color: white !important; }

.btn-primary:hover {
  background-color: white !important;
  border: 1px solid #0d6efd !important;
  color: #0d6efd !important; }

.btn-back:hover {
  background-color: white !important;
  border: 1px solid red !important;
  color: red !important; }

.btn-primary,
.btn-back {
  transition: 0.5s !important; }

.col-md-2 textarea {
  resize: none; }

#content__list--blog {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%; }

.content__blog {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  background-color: white;
  border: 1px solid #BCBCBB;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  margin: 30px;
  height: auto;
  border-radius: 10px; }

.linkDownload {
  padding: 12px 20px;
  text-decoration: none; }

.linkDownload:hover {
  text-decoration: underline; }

.blog__icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 12px 20px; }

.content__blog .bi {
  color: grey;
  font-size: 20px;
  cursor: pointer;
  margin: 0 12px 0 0; }

.content__blog span {
  display: inline-block;
  padding: 12px 20px;
  overflow-wrap: anywhere; }

button.btnlike,
button.btndislike {
  border: none;
  background-color: unset; }

input.inputlike,
input.inputdislike {
  border: none;
  pointer-events: none;
  background-color: unset; }

input.inputdislike {
  width: 30px; }

input.inputlike {
  width: 30px; }

.content__list--blog a {
  position: absolute;
  bottom: 16px;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

.content__list--blog a:hover {
  transform: scale(1.1); }

#comment {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  padding: 12px 20px !important; }

#comment textarea {
  resize: none;
  border-radius: 10px;
  height: 36px;
  padding: 4px 4px 4px 12px;
  outline: none; }

.btn__comment {
  width: 100%;
  padding: 12px 0; }

.btn__comment button,
.btn__comment input {
  border: none;
  padding: 10px 30px;
  border-radius: 10px; }

.comment__section {
  list-style-type: none;
  margin: 8px 0; }

.comment__info p {
  margin: unset; }

.comment__text {
  display: inline-block;
  font-size: 20px;
  background-color: #BCBCBB;
  padding: 6px 6px;
  border-radius: 10px;
  overflow-wrap: anywhere; }

.comment__date {
  font-size: 12px; }

.card-login {
  box-shadow: 4px 4px 20px #0096ff; }

.login-error {
  font-size: 14px;
  color: #E70707;
  margin: unset; }

.bg-img img {
  height: 700px;
  border-radius: 8px 0 0 8px !important; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #232223;
  color: white;
  height: 200px;
  overflow: hidden; }

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
  height: 80px;
  padding: 10px 0;
  /* border-bottom: 1px solid white; */ }

.footer-content a {
  color: white;
  text-decoration: none; }

.footer-content ul li {
  display: inline-block;
  list-style: none;
  margin: 0 12px; }

.underline {
  background-color: white;
  width: 100%;
  height: 1px; }

.underline img {
  height: 60px;
  animation-name: RunAway;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  position: relative;
  top: -39px; }

.footer__icon {
  text-align: center; }

.footer .bi {
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin: 0 12px; }

.footer .bi:hover {
  color: #e10d11; }

#moveTopBtn {
  opacity: 0; }

button#moveTopBtn {
  border: none;
  outline: unset;
  width: 40px;
  background-color: unset;
  position: fixed;
  bottom: 2%;
  right: 2%; }

#moveTopBtn i {
  font-size: 30px;
  color: #e10d11;
  z-index: 5;
  cursor: pointer; }

@keyframes MoveInLeft {
  0% {
    opacity: 0;
    transform: translatex(-100px); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translatex(100px); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@keyframes MoveInDown {
  0% {
    opacity: 0;
    transform: translatey(-100px); }
  100% {
    opacity: 1;
    transform: translatey(0px); } }

@keyframes Expansion {
  0% {
    scale: 1; }
  100% {
    scale: 2; } }

@keyframes RunAway {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(100vw); } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: .5s; }

body {
  margin: 0;
  font-family: Helvetica Neue,HelveticaNeueLTPro,Helvetica,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #666;
  text-align: left;
  background-color: #fff; }
