<div class="footer">
      <div class="footer-content">
        <p>Copyright © 2023 Vigga Ielts</p>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="underline">
        <img src="/img/animation.png" alt="" />
      </div>
      <div class="footer__icon">
        <a href="https://www.facebook.com/Majinbuu9x/"
          ><i class="bi bi-facebook"></i
        ></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href="https://github.com/BuuMJ"><i class="bi bi-github"></i></a>
        <a href="https://discord.gg/UgQGcdV"><i class="bi bi-discord"></i></a>
      </div>
    </div>
    <button id="moveTopBtn"><i class="bi bi-arrow-up-circle-fill"></i></button>