<div id="toTop"></div>
<div id="header" class="header">
  <div class="header__navbar">
    <div class="navbar-left">
      <a href="/"><span class="navbar-change text__left">Vigga</span></a>
      <a href="/"><img src="/img/LOGOVGA.png" alt="" /></a>
      <a href="/"><span class="navbar-change text__right">University</span></a>
    </div>
    <div class="navbar-center">
      <ul class="nav-list">
        <ul class="drop-down__Home">
          <a href="/"><span class="navbar-change">Home</span></a>
        </ul>
        <ul class="drop-down__Managements">
          <a href="./CoursePage.html"><span class="navbar-change">Managements</span></a>
          <ul class="Managements-show">
            <li><a href="./CoursePage.html">Category</a></li>
            <li><a href="">Submission</a></li>
            <li><a href="">Department</a></li>
        </ul>
        </ul>
        <ul class="drop-down__Submission">
          <a href="/staffsubmission"><span class="navbar-change">Staff Submission</span></a>
        </ul>
        <ul class="drop-down__Users">
          <a href="/user"><span class="navbar-change">Users Managements</span></a>
          <ul class="Users-show">
            <li><a href="/user">Role</a></li>
            <li><a href="">Users</a></li>
          </ul>
        </ul>
      </ul>
    </div>
      <div class="nav-right">
        <div class="login">
          <a href="/login"><span class="navbar-change">login</span></a>
        </div>
      </div>
  </div>
</div>

{{!-- header responsive --}}
<div class="header-mini">
  <nav id="navbar-mini" class="navbar navbar-dark fixed-top">
    <div class="container-fluid">
      <div class="navbar-left">
        <a href="/"><span class="text__left">Vigga</span></a>
        <a href="/"><img src="/img/LOGOVGA.png" alt="" /></a>
        <a href="/"><span class="text__right">Ielts</span></a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div class="navbar-center">
            <ul class="nav-list">
              <ul class="drop-down__Home">
                <a href="/"><span>Home</span></a>
              </ul>
              <ul class="drop-down__Course">
                <a href="./CoursePage.html"><span>Courses</span></a>
                <ul class="Courses-show show-mini">
                  <li><a href="./CoursePage.html">List Course</a></li>
                  <li><a href="">Create Course</a></li>
                  <li><a href="">Manager Course</a></li>
                </ul>
              </ul>
              <ul class="drop-down__Community">
                <a href="/community"><span>Community</span></a>
              </ul>
              <ul class="drop-down__Users">
                <a href="/user"><span>Users</span></a>
                <ul class="Users-show show-mini">
                  <li><a href="/user">List User</a></li>
                  <li><a href="">Create User</a></li>
                  <li><a href="">Manager User</a></li>
                </ul>
              </ul>
              <ul class="header-mini__login">
                <a href="/login">Login</a>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>