
   <div id="toTop"></div>
    <div id="header" class="header">
      <div class="header__navbar">
        <div class="navbar-left">
          <a href="/"><span class="text__left">Vigga</span></a>
          <a href="/"><img src="/img/LOGOVGA.png" alt="" /></a>
          <a href="/"><span class="text__right">Ielts</span></a>
        </div>
        <div class="navbar-center">
          <ul class="nav-list">
            <ul class="drop-down__Home">
              <a href="/"><span>Home</span></a>
            </ul>
            <ul class="drop-down__Course">
              <a href="./CoursePage.html"><span>Courses</span></a>
              <ul class="Courses-show">
                <li><a href="./CoursePage.html">List Course</a></li>
                <li><a href="">Create Course</a></li>
                <li><a href="">Manager Course</a></li>
              </ul>
            </ul>
            <ul class="drop-down__Community">
              <a href="/community"><span>Community</span></a>
            </ul>
            <ul class="drop-down__Teachers">
              <a href="./TeacherPage.html"><span>Teachers</span></a>
              <ul class="Teachers-show">
                <li><a href="./TeacherPage.html">List Teacher</a></li>
                <li><a href="">Create Teacher</a></li>
                <li><a href="">Manager Teacher</a></li>
              </ul>
            </ul>
          </ul>
        </div>
        <div class="nav-right">
          <div class="login">
            <a href="/login">Login</a>
          </div>
        </div>
      </div>
    </div>
