<div class="main-category">
        <h1 class="category-text">Category list</h1>
    <div class="category-application">
        <div class="category-info">
            <label for="category-name">category name</label>
            <input type="text" name="category" id="category-name">
        </div>
        <button id="push" class="category-btn" type="submit">Add New</button>
        <table class="table-category">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="category-list">
                <tr>
                    <td>Idea Vui Vẻ</td>
                    <td>
                        <a class="category-btn__edit" href="#">Edit</a>
                        <a class="category-btn__remove" href="#">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>    
    </div>
</div>
<script src="/javascript/category.js"></script>