<div class="main-category">
        <h1 class="category-text">Category list</h1>
    <div class="category-application">
        
        <a href="create">creat category</a>
        <table class="table-category">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="category-list">
                {{#each category}}
            <tr>
                <td>{{this.name}}</td>
                <td>
                    <a href="/managements/{{this._id}}/edit" class="btn btn-primary">edit</a>
                    <a href="" data-id="{{this._id}}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>    
    </div>
</div>



