<div class="main-create-idea">
    <h1 class="create-idea-text">Add idea</h1>
    <form id="form-create-idea" method="POST" action="/staffsubmission/idea/storeIdea" enctype="multipart/form-data">
        <div class="create-idea">
            <div class="create-idea__info">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="create-idea__info">
                <label for="brief">Brief</label>
                <input type="text" class="form-control" id="brief" name="brief">
            </div>
            <div class="create-idea__info">
                <label for="content">Content</label>
                <input type="text" class="form-control" id="content" name="content">
            </div>
            <div class="create-idea__info">
                <label for="file">file</label>
                <input type="file" class="form-control" id="file" name="file">
            </div>
            <div class="create-idea__info">
                <label for="category">Category</label>
                <select name="category" id="category">
                <option selected>Choose</option>
                {{#each dataC}}
                <option value="{{this.name}}">{{this.name}}</option>
                {{/each}}
                </select>
            </div>
            <div class="check_info">
                <input type="checkbox" name="check" id="check"> 
                <label for="check">not robot</label>
            </div>

            <div class="create-idea-edit__btn">
                <a class="btn-create-idea-back" href="/staffsubmission/{{submission._id}}">Back</a>
                <button type="submit" class="btn-create-idea-create">Create</button>
            </div>
        </div>
    </form>
</div>