<div class="main-department">
    <h1 class="department-text">Create Department</h1>
    <form id="form-create-department" method="POST" action="/managements/storeDepartment">
        <div class="department-create">
            <div class="department-create__info">
                <label for="name">Name Department</label>
                <input type="text" class="form-control" id="name" name="name" required="" oninvalid="this.setCustomValidity('Please Enter New Department')" oninput="setCustomValidity('')" />
            </div>
            <div class="department-edit__btn">
                <a class="btn-department-back" href="/managements/Department">Back</a>
                <button type="submit" class="btn-department-create">Create</button>
            </div>
        </div>
    </form>
</div>