<div class="main-category">
    <h1 class="category-text">Create Department</h1>
    <form id="form-create-category" method="POST" action="/managements/storeDepartment">
        <div class="category-create">
            <div class="category-create__info">
                <label for="name">Name Department</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
        <div class="category-edit__btn">
                <a class="btn-category-back" href="/managements/Department">Back List</a>
                <button type="submit" class="btn-category-create">Create</button>
            </div>
        </div>
    </form>
</div>