<div class="mt-4">
    <h3>Create Category</h3>
    <form method="POST" action="/managements/store">
        <div class="form-group">
            <label for="name">Name category</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>