<div class="main-category">
    <div class="header-category">
    <h1 class="category-text">Create Category</h1>
    </div>
    <form id="form-create-category" method="POST" action="/managements/store">
        <div class="category-create">
            <div class="category-create__info">
                <label for="name">Name Category</label>
                <input type="text" class="form-control" id="name" name="name" required="" oninvalid="this.setCustomValidity('Please Enter New Category')" oninput="setCustomValidity('')" />
            </div>
            <div class="category-edit__btn">
                <a class="btn-category-back" href="/managements/category">Back</a>
                <button type="submit" class="btn-category-create">Create</button>
            </div>
        </div>
    </form>
</div>