<div class="main-department">
    <h1 class="department-text">Department List</h1>
    <div class="department-application">

        <a class="department-btn" href="createDepartment">Add New</a>
        <table class="table-department">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="department-list">
                {{#each department}}
                <tr class="department-list__main">
                    <td class="department-list__text">{{this.name}}</td>
                    <td class="actions">
                        <a href="/managements/{{this._id}}/editDepartment" class="department-btn__edit">edit</a>
                        <a href="" data-id="{{this._id}}" class="department-btn__remove"
                            data-bs-toggle="modal" data-bs-target="#delete-department">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{!-- confirm delete --}}

<div id="delete-department" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Do you wanna Delete this Department</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure about it ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>
                <button id="btn-delete-department" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

{{!-- delete hidden form --}}
<form method="POST" name="delete-department-form"></form>

<script>
    const deletedepartment = document.getElementById('delete-department')
    var departmentID;
    var btnDeletedepartment = document.getElementById('btn-delete-department')
    var deleteForm = document.forms['delete-department-form'];
    deletedepartment.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        departmentID = button.getAttribute('data-id')


        btnDeletedepartment.onclick = function () {
                deleteForm.action = '/managements/DD/' + departmentID + '?_method=DELETE';
                deleteForm.submit();
        }
    })
</script>