<div class="main-submission">
    <h1 class="submission-text">Edit Submission</h1>
    <form id="form-create-submission" method="POST" action="/managements/US/{{submission._id}}?_method=PUT">
        <div class="submission-edit">
            <div class="submission-edit__info">
                <label for="name">New Submission</label>
                <input type="text" class="form-control" value="{{submission.name}}" id="name" name="name">
            </div>
            <div class="submission-edit__info">
                <label for="deadline_1">New deadline_1</label>
                <input type="date" class="form-control" value="{{submission.deadline_1}}" id="deadline_1" name="deadline_1">
            </div>
            <div class="submission-edit__info">
                <label for="deadline_2">New deadline_2</label>
                <input type="date" class="form-control" value="{{submission.deadline_2}}" id="deadline_2" name="deadline_2">
            </div>
            <div class="submission-edit__btn">
                <a class="btn-submission-back" href="/managements/submission">Back</a>
                <button type="submit" class="btn-submission-edit">Edit</button>
            </div>
        </div>
    </form>
</div>