<div class="main-category">
    <h1 class="category-text">Edit Category</h1>
    <form id="form-create-category" method="POST" action="/managements/{{category._id}}?_method=PUT">
        <div class="category-edit">
            <div class="category-edit__info">
                <label for="name">New Category</label>
                <input type="text" class="form-control" value="{{category.name}}" id="name" name="name" />
            </div>
            <div class="category-edit__btn">
                <a class="btn-category-back" href="/managements/category">Back</a>
                <button type="submit" class="btn-category-edit">Edit</button>
            </div>
        </div>
    </form>
</div>