<div class="main-department">
    <div class="header-department">
    <h1 class="department-text">Edit Department</h1>
    </div>
    <form id="form-create-department" method="POST" action="/managements/UD/{{department._id}}?_method=PUT">
        <div class="department-edit">
            <div class="department-edit__info">
                <label for="name">New Department</label>
                <input type="text" class="form-control" value="{{department.name}}" id="name" name="name" />
            </div>
            <div class="department-edit__btn">
                <a class="btn-department-back" href="/managements/Department">Back</a>
                <button type="submit" class="btn-department-edit">Edit</button>
            </div>
        </div>
    </form>
</div>