    <div class="container">
      <div class="intro">
        <h2>Learn English with Us</h2>
        <p>
          Welcome to <b>Vigga Ielts</b>, where you can improve your English
          skills in a supportive and friendly environment. Our experienced
          teachers will guide you through lessons on grammar, vocabulary,
          pronunciation, and more.
        </p>
        <div class="btn__visit"><a href="./CoursePage.html">Explore our courses</a></div>
      </div>
      <div class="content">
        <span class="primary__content">Five variations of Vigga Ielts</span>
        <div class="content__list--card">
          <div class="content__card">
            <img src="/img/expteacher.png" alt="" />
            <span class="primary__content__text"><b>Experienced Teacher</b></span>
            <span 
              >All classes are taught by experienced teachers (IELTS 8.0,
              Reading 9.0). They have helped hundreds of students achieve their
              desired scores</span
            >
            <div class="btn__visit"><a href="./TeacherPage.html">List Teacher</a></div>
          </div>
          <div class="content__card">
            <img src="/img/TTHS.png" alt="" />
            <span class="primary__content__text"
              ><b
                >Interact directly with the teacher in the classroom or on the
                Our Community</b
              ></span
            >
            <span
              >You can go to the community page to interact, share your
              feelings, give feedback and ask questions with all the students,
              mentors and teachers at Vigga Ielts Center.</span
            >
            <div class="btn__visit"><a href="/CommunityPage.html">Our Community</a></div>
          </div>
          <div class="content__card">
            <img src="/img/focusstudent.jpg" alt="" />
            <span class="primary__content__text"
              ><b
                >Study in the right focus, focus on building knowledge through
                each level course</b
              ></span
            >
            <span
              >All classes are taught by experienced teachers (IELTS 8.0,
              Reading 9.0). They have helped hundreds of students achieve the
              desired score with the assignments they give in the course so that
              they can see if the student's ability is enough knowledge to
              pass.</span
            >
            <div class="btn__visit"><a href="./CoursePage.html">List Course</a></div>
          </div>
          <div class="content__card">
            <img src="/img/testingauto.jpg" alt="" />
            <span class="primary__content__text" ><b>Automated testing system</b></span>
            <span
              >All classes are taught by experienced teachers (IELTS 8.0,
              Reading 9.0). They have helped hundreds of students achieve their
              desired scores</span
            >
          </div>
          <div class="content__card">
            <img src="/img/takecare.jpg" alt="" />
            <span class="primary__content__text"
              ><b
                >Teachers directly monitor the learning progress of each
                student</b
              ></span
            >
            <span
              >All classes are taught by experienced teachers (IELTS 8.0,
              Reading 9.0). They have helped hundreds of students achieve their
              desired scores</span
            >
          </div>
        </div>
      </div>
    </div>