<div class="intro ">
  <h2>work together to build Vigga</h2>
  <p>
    Vigga University is a good school with a different way of teaching and running things. It is important to come up
    with ideas for how to make it even better and different.
  </p>
  <div class="btn__visit"><a href="/community"><button class="btn5-hover btn5">Put your ideas here</Button></a>
  </div>
</div>
<div class="container">
  <div class="celebrate">
    <div class="celebrate-75y">
      <div class="celebrate-75y__img">
        <img src="/img/75years.png" alt="">
      </div>
      <div class="celebrate-75y__text">
        <span>celebrate</span>
        <p>75 years of commitment to education all over the world.</p>
      </div>
    </div>
    <div class="celebrate-75y">
      <div class="celebrate-75y__img">
        <img src="/img/award.jpg" alt="">
      </div>
      <div class="celebrate-75y__text">
        <span>Award</span>
        <p>#78 in The Best Global Universities UK</p>
        <p>#92 The Best UK University 2017</p>
      </div>
    </div>
  </div>
  <div class="bythenumbers">
    <h2>Vigga By The Numbers</h2>
    <p>At The Vigga we love new ideas.</p>
    <p>And after 75 years of service in education, we have reached a number of important goals in helping students meet
      and overcome their challenges.</p>
    <div class="params-list">
      <div class="param">
        <span class="param-number">62M</span>
        <span class="param-text">Students in the VietNam and all over the world</span>
      </div>
      <div class="param">
        <span class="param-number">6M+</span>
        <span class="param-text">learn Master degree</span>
      </div>
      <div class="param">
        <span class="param-number">12M+</span>
        <span class="param-text">Staff In University</span>
      </div>
      <div class="param">
        <span class="param-number">80</span>
        <span class="param-text">national scope</span>
      </div>
    </div>
  </div>
  <div class="content-idea">
    <div class="idea-text">
      <h2>WE LOVE NEW IDEAS.</h2>
      <h3>Let's talk.</h3>
      <p>Let's talk and see if you can help Our Team get good ideas together to develop a good working and learning
        environment at Vigga University</p>
        <a href="/community">Put Your Ideas Here</a>
    </div>
    <div class="idea-img">
      <img src="/img/ideas.jpeg" alt="">
    </div>
  </div>
      {{!-- <div class="slogans-list">
        <div class="slogan slogan-1">
          <div class="slogan-img">
            <img src="/img/slogan1.jpg" alt="">
          </div>
          <div class="slogan-text">
            <h2>“Education is the most powerful weapon which you can use to change the world.”</h2>
            <span class="slogan-author">--Nguyễn Xuân Trường--</span>
          </div>
        </div>
          <div class="slogan slogan-2">
          <div class="slogan-img">
            <img src="/img/slogan2.jpg" alt="">
          </div>
          <div class="slogan-text">
            <h2>“Education is the most powerful weapon which you can use to change the world.”</h2>
            <span class="slogan-author">--Nguyễn Xuân Trường--</span>
          </div>
        </div>
          <div class="slogan slogan-3">
          <div class="slogan-img">
            <img src="/img/slogan3.jpg" alt="">
          </div>
          <div class="slogan-text">
            <h2>“Education is the most powerful weapon which you can use to change the world.”</h2>
            <span class="slogan-author">--Nguyễn Xuân Trường--</span>
          </div>
        </div>
          <div class="slogan slogan-4">
          <div class="slogan-img">
            <img src="/img/slogan4.jpg" alt="">
          </div>
          <div class="slogan-text">
            <h2>“Education is the most powerful weapon which you can use to change the world.”</h2>
            <span class="slogan-author">--Nguyễn Xuân Trường--</span>
          </div>
        </div>
    </div> --}}
</div>