<div class="loading">
  <img src="/img/LOGOVGA.png" alt="">
  <div class="loading-distance">
    <div class="distance-go"></div>
  </div>
</div>
<div class="intro">
  <h2>work together to build Vigga</h2>
  <p>
    Vigga University is a good school with a different way of teaching and running things. It is important to come up
    with ideas for how to make it even better and different.
  </p>
  <div class="btn__visit"><a href="/staffsubmission"><button class="btn5-hover btn5">Put your ideas here</Button></a>
  </div>
</div>
<div class="container">
  <div class="celebrate">
    <div class="celebrate-75y">
      <div class="celebrate-75y__img">
        <img src="/img/75years.png" alt="">
      </div>
      <div class="celebrate-75y__text">
        <span>celebrate</span>
        <p>75 years of commitment to education all over the world.</p>
      </div>
    </div>
    <div class="celebrate-75y">
      <div class="celebrate-75y__img">
        <img src="/img/award.jpg" alt="">
      </div>
      <div class="celebrate-75y__text">
        <span>Award</span>
        <p>#78 in The Best Global Universities UK</p>
        <p>#92 The Best UK University 2017</p>
      </div>
    </div>
  </div>
  <div class="bythenumbers">
    <h2>Vigga By The Numbers</h2>
    <p>At The Vigga we love new ideas.</p>
    <p>And after 75 years of service in education, we have reached a number of important goals in helping students meet
      and overcome their challenges.</p>
    <div class="params-list">
      <div class="param">
        <span class="param-number">62M</span>
        <span class="param-text">Students in the VietNam and all over the world</span>
      </div>
      <div class="param">
        <span class="param-number">12M+</span>
        <span class="param-text">Staff In University</span>
      </div>
      <div class="param">
        <span class="param-number">{{departments}}</span>
        <span class="param-text">Department In University</span>
      </div>
      <div class="param">
        <span class="param-number">{{ideas}}</span>
        <span class="param-text">ideas of university staff</span>
      </div>
    </div>
  </div>
  <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="slogan">
          <img src="/img/slogan1.jpg" alt="...">
          <div class="slogan-text">
            <p>“Education is the most powerful weapon which you can use to change the world.”</p>
            <span class="slogan-author">- Nelson Mandela -</span>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="slogan">
          <img src="/img/slogan2.jpg" alt="...">
          <div class="slogan-text">
            <p>“Time is the school in which we learn, time is the fire in which we burn.”</p>
            <span class="slogan-author">- Delmore Schwartz -</span>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="slogan">
          <img src="/img/slogan3.webp" alt="...">
          <div class="slogan-text">
            <p>“When something is important enough, you do it even if the odds are not in your favor.”</p>
            <span class="slogan-author">- Elon Musk -</span>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="slogan">
          <img src="/img/slogan4.jpg" alt="...">
          <div class="slogan-text">
            <p>“Motivation gets you through the day, but inspiration lasts a lifetime”</p>
            <span class="slogan-author">- Nick Vujicic -</span>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true">
        <i class="bi bi-caret-left-fill"></i>
      </span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true">
        <i class="bi bi-caret-right-fill"></i>
      </span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="content-idea">
    <div class="home-idea__text">
      <h2>WE LOVE NEW IDEAS.</h2>
      <h3>Let's Talk.</h3>
      <p>Let's talk and see if you can help Our Team get good ideas together to develop a good working and learning
        environment at Vigga University</p>
      <a href="/staffsubmission">Put Your Ideas Here</a>
    </div>
    <div class="home-idea__img">
      <img src="/img/ideas.jpeg" alt="">
    </div>
  </div>
</div>
<script>
  window.addEventListener('load', offLoading)
  var offLoading = setTimeout(stopLoading, 3000);
  function stopLoading() {
    document.querySelector('.loading').style.display = 'none'
  }
</script>