<div class="intro ">
  <h2>Learn English with Us</h2>
  <p>
    Welcome to <b>Vigga Ielts</b>, where you can improve your English
    skills in a supportive and friendly environment. Our experienced
    teachers will guide you through lessons on grammar, vocabulary,
    pronunciation, and more.
  </p>
  <div class="btn__visit"><a href="/course">Explore our courses</a></div>
</div>
<div class="container">
  <div class="aboutus">
    <span class="about__name">About Vigga</span>
    <span class="about__text">For one of the best English teaching jobs in Vietnam, look no further than Vigga. Vigga is
      the leader in the
      English Language Training (ELT) in Vietnam with millions of learners enrolling for its courses since its
      foundation.
    </span>
    <div class="about__content">
      <div class="card__about">
        <div class="card text-dark bg-light mb-3">
          <div class="card-header">20+ Years</div>
          <div class="card-body">
            <p class="card-text">Vigga is one of the most well established English schools in Vietnam, founded over 20 years ago.</p>
          </div>
        </div>
         <div class="card text-dark bg-light mb-3">
          <div class="card-header">2k+ Teachers</div>
          <div class="card-body">
            <p class="card-text">Vigga is one of the most experienced English teachers in Vietnam with a team of more than 2,200 English language teachers.</p>
          </div>
        </div>
         <div class="card text-dark bg-light mb-3">
          <div class="card-header">77 English Schools</div>
          <div class="card-body">
            <p class="card-text">Most English schools in HCMC are part of Vigga, which is the largest school in South Vietnam. We were growing and opening more places all over Vietnam.</p>
          </div>
        </div>
         <div class="card text-dark bg-light mb-3">
          <div class="card-header">1,2k Administrative Staff</div>
          <div class="card-body">
            <p class="card-text">Vigga has about 1,200 administrative and support staff, including large HR and Academic teams that help our teachers.</p>
          </div>
        </div>
      </div>
      <div class="about__carousel">
       <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/img/carousel1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/img/carousel2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/img/carousel3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/img/carousel4.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
      </div>
    </div>
  </div>
  <div class="content row">
    <span class="primary__content">Why Learn English At Vigga </span>
    <span class="foreign__content">Vigga genuinely values the hard work of their teachers with the salary and benefits
      we
      offer, reflecting this</span>
    <div class="col-sm-6">
      <div class="card">
        <img src="/img/TTHS.png" class="card-img-top" alt="...">
        <div class="card-body body__content c1">
          <h5 class="card-title">Interact directly with the teacher in the classroom or on the
            Our Community</h5>
          <p class="card-text">You can go to the community page to interact, share your
            feelings, give feedback and ask questions with all the students,
            mentors and teachers at Vigga Ielts Center.</p>
        </div>
        <div class="card-body btn-go">
          <a href="/community" class="btn btn-secondary">Visit Community</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img src="/img/focusstudent.jpg" class="card-img-top" alt="...">
        <div class="card-body body__content c2">
          <h5 class="card-title">Study in the right focus, focus on building knowledge through
            each level course</h5>
          <p class="card-text">All classes are taught by experienced teachers (IELTS 8.0,
            Reading 9.0). They have helped hundreds of students achieve the
            desired score with the assignments they give in the course so that
            they can see if the student's ability is enough knowledge to
            pass.</p>
        </div>
        <div class="card-body btn-go">
          <a href="/course" class="btn btn-secondary">View Course</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img src="/img/expteacher.png" class="card-img-top" alt="...">
        <div class="card-body body__content c3">
          <h5 class="card-title">Experienced Teacher</h5>
          <p class="card-text">All classes are taught by experienced teachers (IELTS 8.0,
            Reading 9.0). They have helped hundreds of students achieve their
            desired scores</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img src="/img/testingauto.jpg" class="card-img-top" alt="...">
        <div class="card-body body__content c4">
          <h5 class="card-title">Automated testing system</h5>
          <p class="card-text">All classes are taught by experienced teachers (IELTS 8.0,
            Reading 9.0). They have helped hundreds of students achieve their
            desired scores</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img src="/img/takecare.jpg" class="card-img-top" alt="...">
        <div class="card-body body__content c5">
          <h5 class="card-title">Teachers directly monitor the learning progress of each
            student</h5>
          <p class="card-text">Each level you are studying the teacher will monitor you throughout the learning process,
            just see that you are not knowledgeable enough our teachers will always monitor and guide you
            enthusiastically.</p>
        </div>
      </div>
    </div>
  </div>
</div>
