<div class="box-login">
  <form class="login-form" method="POST" action="/apilogin">
    <span class="login-primary__text">login</span>
    {{#if msg}}<p class="login-error">{{msg}}</p>{{/if}}
    <div class="login-info">
      <label for="username">
        <i class="bi bi-person-fill"></i>
      </label>
      <input id="username" type="user" name="username">
    </div>
    <div class="login-info">
      <label for="password">
        <i class="bi bi-lock-fill"></i>
      </label>
      <input id="password" type="password" type="password" name="password">
    </div>
    <div class="login-info info__remember">
      <input id="remember" type="checkbox">
      <label for="remember">Rememberme</label>
    </div>
    <button class="btn-login" type="submit">Login</button>
  </form>
</div>
<script src="../../public/javascript/login.js"></script>