<div class="main">
  <div class="sidebar">
    <div class="card sidebar-card__ads">
      <img src="/img/adsgw.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">University of Greenwich</h5>
        <p class="card-text">We welcome everyone who shares our passion for remaking the old and imagining the new. Our
          university community includes staff, students and other stakeholders in the UK and around the world.With
          subjects ranging from accountancy to science, we are proud of our excellent standards of teaching. The
          university is home to a diverse community of nearly 28,000 students studying in the UK and overseas, one in
          five of them postgraduate. </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Address: 20 Cộng Hòa, Phường 12, Quận Tân Bình, TP.HCM</li>
        <li class="list-group-item">Phone: 093310**** - 097129****</li>
        <li class="list-group-item">Email: info@greenwich.edu.vn</li>
      </ul>
    </div>
    <div class="card sidebar-card__ads">
      <img src="/img/adsnhuy.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Nhu Y vegetarian restaurant</h5>
        <p class="card-text">Nhu Y Vegetarian Restaurant is one of the famous delicious vegetarian restaurants in the
          heart of Saigon with fresh and clean vegetables prepared by passionate and creative chefs. Nhu Y Vegetarian
          Restaurant is very different from the way it is presented. Unique layout, pure food, friendly staff, all
          combine to create a unique character for this place.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Address: 124 Âu Dương Lân, Quận 8, TP. HCM</li>
        <li class="list-group-item">Phone: 090314****</li>
        <li class="list-group-item">Opening hours: 07:00am - 10:00pm</li>
      </ul>
    </div>
    <div class="card sidebar-card__ads">
      <img src="/img/adsthienphu.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Thien Phu Limited Liability Company</h5>
        <p class="card-text">The company's main line of business is "Wholesale of materials and other installation
          equipment in construction", managed by the Tax Department of Nha Trang City.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Address:
          108 Lê Hồng Phong, Phường Phước Hải, Thành phố Nha Trang, Khánh Hòa</li>
        <li class="list-group-item">Phone: 093477**** </li>
        <li class="list-group-item">Opening hours: 09:00am - 6:00pm</li>
      </ul>
    </div>
  </div>
  <div class="main__content">
    <div class="showcreate">
      <textarea id="createpost" placeholder="What Are You Thinking?"></textarea>
    </div>
    <div id="alertSuccess">
      <i class="bi bi-check-circle-fill"></i>
      <div class="textSuccess">
        <span>Success!</span>
        <p>You have successfully created your post</p>
      </div>
    </div>
    <div id="alertFail">
      <i class="bi bi-bug-fill"></i>
      <div class="textFail">
        <span>Fail!</span>
        <p>if you wanna Create New Post, You have to enter your content</p>
      </div>
    </div>
    <div id="alertComment">
      <i class="bi bi-dash-circle"></i>
      <div class="textComment">
        <span>Warning</span>
        <p>Please enter a comment</p>
      </div>
    </div>
    <div id="overplayCancle"></div>
    <div id="alertCancle">
      <i class="bi bi-exclamation-diamond-fill"></i>
      <div class="textCancle">
        <span>Are You Sure?</span>
        <p>Don't wanna create your own posts?</p>
      </div>
      <div class="btnCancle">
        <button class="nonCancle">Cancle</button>
        <button class="doCancle">Yes</button>
      </div>
    </div>
    <div id="overplay"></div>
    <form id="show" class="col g-3 blogC shadow-lg p-3 bg-body rounded">
      <h1>Create New Post</h1>
      <div class="col-md-2">
        <label for="validationDefault03" class="form-label">Content</label>
        <textarea type="text" class="form-control" id="content" placeholder="Click to add Content"></textarea>
      </div>
      <div class="col-md-2">
        <label for="chooserole" class="form-label">Select</label>
        <select id="chooserole" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
          <option disabled selected value="">Role</option>
          <option value="Staff">Staff</option>
          <option value="Teacher">Teacher</option>
          <option value="Student">Student</option>
        </select>
        <label for="choosecategory" class="form-label">Category</label>
        <select id="choosecategory" class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option disabled selected value="">
            select the category you wanna include
          </option>
          <option value="New Ideas">New Ideas</option>
          <option value="Exercises">Exercises</option>
          <option value="Social">Social</option>
          <option value="Feeback">Feeback</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="validationDefault05" class="form-label">UpLoad File</label>
        <input multiple type="file" id="myFile" class="form-control" />
      </div>
      <div class="col-12 submitCreate">
        <a id="btn-back" class="btn btn-back">Back</a>
        <button id="btn-primary" class="btn btn-primary" type="button">
          Create Post
        </button>
      </div>
    </form>
    <ul id="content__list--blog"></ul>
  </div>
</div>
<script src="/javascript/community.js"></script>