<div class="main-statistics">
  <h1 class="statistics-text">Statistics</h1>
  <div class="statistics-application">
    <table class="table-statistics">
      <thead>
        <tr>
          <th>Name</th>
          <th>Ideas</th>
        </tr>
      </thead>
      <tbody id="statistics-list">
        {{#each ideaCounts}}
        <tr class="statistics-list__main">
          <td class="statistics-list__text">{{this._id}}</td>
          <td class="actions">
            {{this.count}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <ul class="listpage">
    </ul>
     <div class="chart-Statistic">
  <canvas id="myChart"></canvas>
</div>
  </div>
</div>



<script>
 var chartY = document.getElementsByClassName('chart-y');
for (let i = 0; i < chartY.length; i++) {
  var ideaId = chartY[i].dataset.ideaId;
  chartY[i].style.height = ideaId * 15 + 'px';
}
  var thisPage = 1;
  var limit = 5;
  var list = document.querySelectorAll('.statistics-list__main')
  function loadIteam() {
    var beginGet = limit * (thisPage - 1);
    var endGet = limit * thisPage - 1;
    list.forEach((item, key) => {
      if (key >= beginGet && key <= endGet) {
        item.style.display = 'table-row';
      } else {
        item.style.display = 'none';
      }
    })
    listPage();
  }
  loadIteam()
  function listPage() {
    var count = Math.ceil(list.length / limit);
    document.querySelector('.listpage').innerHTML = '';
    for (i = 1; i <= count; i++) {
      var newPage = document.createElement('li');
      newPage.innerHTML = i;
      document.querySelector('.listpage').appendChild(newPage);
      newPage.setAttribute('onclick', "changePage(" + i + ")");
      if (i === thisPage) {
      newPage.classList.add('active');
    }
    }
  }
  function changePage(i) {
    thisPage = i;
    document.querySelectorAll('.listpage li').forEach(function(page) {
    page.classList.remove('active');
  });
  document.querySelector('.listpage li:nth-child(' + (thisPage) + ')').classList.add('active');
    loadIteam()
  }
  
</script>
<script>
  var data = {
    labels: [],
    datasets: [{
      data: [],
      backgroundColor: []
    }]
  };

  var rows = document.querySelectorAll("#statistics-list tr.statistics-list__main");
  rows.forEach(function(row) {
    data.labels.push(row.querySelector(".statistics-list__text").textContent);
    data.datasets[0].data.push(parseFloat(row.querySelector(".actions").textContent));
    data.datasets[0].backgroundColor.push(getRandomColor());
  });

  var ctx = document.getElementById("myChart").getContext("2d");
  var myChart = new Chart(ctx, {
    type: 'pie',
    data: data,
    options: {
      legend: {
        position: 'bottom',
        labels: {
          fontColor: 'white',
          fontSize: 15
        }
      },
      reponsive: true,
      maintainAspectRatio: false
    }
  });

  function getRandomColor() {
    var letters = '0123456789ABCDEF';
    var color = '#';
    for (var i = 0; i < 6; i++) {
      color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
  }
</script>